{% extends "account/default.html" %}

{% block content %}

<h1>Pay Your Bill</h1>

<table border="1" cellspacing="0" cellpadding="1">
	<tr>
		<th>Date + Location + Ad</th>
		<th>Cost</th>
	</tr>
{% for i in p %}
	<tr>
		<td><b>Reservations on {{ i.0.date|date:"n/j" }}:</b>
		{% for l in i.2 %}
			<br />
			{{ l.reservation.ad.name }} at {{ l.reservation.location }}{% if not forloop.last %},{% endif %}
		{% endfor %}
		</td>
		<td>${{ i.1 }}</td>
	</tr>
{% endfor %}
	<tr>
		<td>Total</td>
		<td>${{ t }}</td>
	<tr>
</table>

<p/>

<form action="{{ paypal_url }}" method="post">
	<input type="hidden" name="cmd" value="_xclick" />
	<input type="hidden" name="business" value="{{ paypal }}" />
	<input type="hidden" name="item_name" value="iAds Reservations" />
	<input type="hidden" name="currency_code" value="USD" />
	<input type="hidden" name="amount" value="{{ t }}" />
	<input type="hidden" name="notify_url" value="{{ external }}process/ipn/" />
	<input type="hidden" name="return" value="{{ external }}account/paid/" />
	<input type="hidden" name="custom" value="{{ user.id }}" />
	<input type="image" src="/templates/images/button-checkout.jpg" alt="Check Out" name="submit" style="padding:0; border:0;" /></a> (via Paypal)
</form>

{% endblock %}
