{% extends "main/default.html" %}

{% block content %}

<h1>Pay Your Bill</h1>

<table border="1" cellspacing="0" cellpadding="1">
	<tr>
		<th>Date + Location + Ad</th>
		<th>Cost</th>
	</tr>
{% for i in p %}
	<tr>
		<td><b>Reservations on {{ i.0.date|date:"n/j" }}:</b>
		{% for l in i.2 %}
			<br />
			{{ l.reservation.ad.name }} at {{ l.reservation.location }}{% if not forloop.last %},{% endif %}
		{% endfor %}
		</td>
		<td>${{ i.1 }}</td>
	</tr>
{% endfor %}
	<tr>
		<td>Total</td>
		<td>${{ t }}</td>
	<tr>
</table>

{% endblock %}
