<?php

/* $Id$ */

/*	PostgreSQL database connection configuration.	*/

$DBConf['user']     = '';
$DBConf['pass']     = '';
$DBConf['host']     = '';
$DBConf['database'] = '';
$DBConf['type']     = ''; // 'postgre' or 'mysql'

?>
