{% if page.layout == 2 %}
<div class="left-cont home2">
{% endif %}

{{ images[0].render(mode) | link(page, 0, rel) }}

<div class="column">
<ul>
	<li>
	{{ page|editline(0, 'h2', link=1, rel=rel) }}
	{{ images[1].render(mode) | link(page, 1, rel) }}
	</li>
	<li class="middle">
	{{ page|editline(1, 'h2', link=2, rel=rel) }}
	{{ images[2].render(mode) | link(page, 2, rel) }}
	</li>
	<li>
	{{ page|editline(2, 'h2', link=3, rel=rel) }}
	{{ images[3].render(mode) | link(page, 3, rel) }}
	</li>
</ul>
</div>

<div class="blog">
{% set b = site.blog_post %}
	{% if b %}
		{% set url = b.url %}
		<h2><a href="{{ url }}">Latest from blog</a></h2>
		<div class="post">
			<a href="{{ url }}" class="thumb">{{ b.imagesz(width=310, height=205) }}</a>
			<h3><a href="{{ url }}">{{ b.title }}</a></h3>
			<p>{{ b.short(250) }}</p>
			<span class="more"><a href="{{ url }}">More</a></span>
		</div>
	{% endif %}
</div>

{% if page.layout == 2 %}
</div>

{% include 'themes/genesis/aside.html' %}

{% endif %}
