/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 100%; line-height: 1.5; }
body, button, input, select, textarea { font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color: #515151; }
/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9
 */
svg:not(:root) {overflow: hidden;}

/* =============================================================================
   Forms
   ========================================================================== */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend { border: 0; *margin-left: -7px; padding: 0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input { line-height: normal; *overflow: visible; }
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* Tables */

table { border-collapse: collapse; border-spacing: 0; }

/* Primary styles */

div#container{ max-width: 1000px; margin: 0 auto; position: relative;}

/***** Main Header *****/
header#top{height: 100px;}
header#top h1{float: left; margin: 43px 0 0 0; font-size: 36px; text-transform: uppercase;}
header#top h1 a{color:#3c3333; text-decoration: none;}
header#top nav{}
header#top nav ul{margin: 50px 0 0 0; list-style: none; float: right;}
header#top nav ul li{float: left; margin: 0 0 0 10px;}
header#top nav ul li a{ text-transform: uppercase; text-decoration: none; color: #fff; background: #3c3333; display: block; padding: 5px 15px 3px 15px; font-size: 16px;}
header#top nav ul li.search a{ background: url(nav-icons.png) no-repeat left center #3c3333; text-indent: -9999px;}
header#top nav ul li.audio a{ background: url(nav-icons.png) no-repeat -30px center #3c3333; text-indent: -9999px;}
header#top nav ul li a.current{background: #767070;}

/***** Main section *****/
div#main{margin: 20px 0 60px 0;}

/* Seacrh & Audio */
div#search{display: none; position: absolute; background: #3c3333; width: 100%; top:0px; left: 0px; text-align: right; color: #fff;}
div#search form{max-width: 1000px; padding: 7px 0; margin: 0 auto;}
div#search form label{text-transform: uppercase; font-size: 14px;}
div#search form input{margin: 0 0 0 10px;}
div#search form input.btn{background: #d5cdcd; background: -moz-linear-gradient(top,  #d5cdcd 0%, #aba6a6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5cdcd), color-stop(100%,#aba6a6)); background: -webkit-linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); background: -o-linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); background: -ms-linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); background: linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cdcd', endColorstr='#aba6a6',GradientType=0 ); -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; border: none; -o-box-shadow: 0px 0px 3px rgba(0,0,0, 0.7); -webkit-box-shadow: 0px 0px 3px rgba(0,0,0, 0.7);-moz-box-shadow: 0px 0px 3px rgba(0,0,0, 0.7);box-shadow: 0px 0px 3px rgba(0,0,0, 0.7); font-size: 14px; padding: 3px 5px 2px 5px;}
div#search form span.close a{color: #b1adad; text-decoration: none; margin:  0 0 0 10px;}
div#audio{display: none; position: absolute; top: 100px; right: 0px;}
div#audio div.player{background: rgba(60,51,51,0.95); color: #fff; padding: 10px; width: 800px; float: right;}
div#audio div.player a{color: #fff; text-decoration: none;}
div#audio div.player ol{float: right; margin: 0; padding: 0; font-size: 13px; width: 420px; list-style: none;}
div#audio div.player ol li{margin: 0 0 1px 0; }
div#audio div.player ol li a{display: block;padding: 4px 10px 3px 10px;}
div#audio div.player ol li:nth-child(even) a{background: rgba(255,255,255,0.08); -webkit-transition:all 0.5s ease-in;  -moz-transition:all 0.5s ease-in;  -o-transition:all 0.5s ease-in;  transition:all 0.5s ease-in; }
div#audio div.player ol li:nth-child(odd) a{background: rgba(255,255,255,0.16);}
div#audio div.player ol li a:hover{background: rgba(255,255,255,0.24);}
div#audio div.player ol li.current a{background: rgba(255,255,255,0.7); color: #3c3333;}
div#audio div.player ol li a span{float: right;}
div#audio div.player span.control{display: block;}
div#audio div.player span.control a{background:url(audio-icons.png) #d5cdcd; background:url(audio-icons.png) -moz-linear-gradient(top,  #d5cdcd 0%, #aba6a6 100%); background:url(audio-icons.png) -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5cdcd), color-stop(100%,#aba6a6)); background:url(audio-icons.png) -webkit-linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); background:url(audio-icons.png) -o-linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); background:url(audio-icons.png) -ms-linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); background:url(audio-icons.png) linear-gradient(top,  #d5cdcd 0%,#aba6a6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cdcd', endColorstr='#aba6a6',GradientType=0 ); -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; -o-box-shadow: 0px 0px 3px rgba(0,0,0, 0.7); -webkit-box-shadow: 0px 0px 3px rgba(0,0,0, 0.7);-moz-box-shadow: 0px 0px 3px rgba(0,0,0, 0.7);box-shadow: 0px 0px 3px rgba(0,0,0, 0.7); display: block; float: left; text-indent: -9999px; width: 30px; height: 30px; margin: 0 5px 0 0;}
div#audio div.player span.control a.rew{background-position:  left top;}
div#audio div.player span.control a.play{background-position: -30px top;}
div#audio div.player span.control a.pause{background-position: -60px top;}
div#audio div.player span.control a.stop{background-position: -90px top;}
div#audio div.player span.control a.forw{background-position: -120px top;}
div#audio div.player p{ margin: 50px 0 0 0;}
div#audio div.player p + p{ margin: 0;}
div#audio div.player p small{float: left; width: 70px; font-style: italic; padding: 2px 0 0 0;}
div#audio span.close a{color: #b1adad; text-decoration: none; position: absolute; right: -20px;}

/***** Home Page *****/
div#slider{margin: 0 0 30px 0;}
div.column{}
div.column ul{margin: 0; padding: 0; list-style: none; clear: both;}
div.column ul li{float: left; width: 32%; overflow: hidden; margin: 0 0 30px 0;}
div.column ul li.middle{margin: 0 2%;}
div.column ul li h2, div.blog h2{text-transform: uppercase; font-weight: normal; font-size: 18px; margin: 0 0 5px 10px;}
div.column ul li h3{text-transform: uppercase; font-weight: normal; font-size: 18px; margin: 0 0 15px 0; padding: 0 0 5px 5px; border-bottom: 1px solid #ccc;}
div.column ul li h2 a, div.blog h2 a, div.blog div.post h3 a{color: #3c3333; text-decoration: none;}
div.column ul li p{margin: 0 0 20px 0;}
div.blog div.post a.thumb{float: left; width: 32%; overflow: hidden; margin: 0 2% 50px 0;}
div.blog{clear: both;}
div.blog div.post h3{margin: 0 0 10px 0; font-size: 24px; text-transform: uppercase;}
div.blog div.post p{margin: 0;}
div.blog div.post span.more{float: right;}
div.blog div.post span.more a{text-transform: uppercase; text-decoration: none; color: #fff; background: #3c3333; display: block; padding: 5px 15px 3px 15px; font-size: 16px;}

/***** Full Page *****/
div#main div.fullpage{}
div#main div.fullpage .left{ display: block; float: left; width: 32%; margin: 0 2% 2% 0; overflow: hidden;}
div#main table{width: 100%; margin: 30px 0;}
div#main table caption{text-transform: uppercase; text-align: left; font-size: 18px; font-weight: bold;}
div#main table td, div#main table th{text-align: left; padding: 5px;}
div#main table tbody tr{ border-bottom: 1px solid #fff;}
div#main table tbody tr:nth-child(even){background: #f1ecec;}
div#main table tbody tr:nth-child(odd){background: #e2dddd;}

/***** Gallery page *****/
div.fullpage div.media{width: 100%; overflow: hidden; position: relative;}
div.fullpage div.media img{width: 100%;}
div.fullpage div.media div.pics-note{position: absolute; bottom: 0px; left: 0px; display: block; background: rgba(255,255,255,0.7); width: 100%;}
div.fullpage div.media div.pics-note h2{font-size: 18px; text-transform: uppercase; font-weight: normal; margin: 15px 15px 0 15px;}
div.fullpage div.media div.pics-note p{font-size: 14px; margin: 0 15px 21px 15px;}
div#gallery{}
div#gallery h1{font-size: 18px; text-transform: uppercase; font-weight: normal;}
div#gallery p.notes{font-size: 14px; float: right; margin: 0;}
div#gallery article{float: left; width: 32%; overflow: hidden; height: 240px; position: relative;}
div#gallery article, div#gallery article + article + article, div#gallery article + article + article + article, div#gallery article + article + article + article + article + article, div#gallery article + article + article + article + article + article + article, div#gallery article + article + article + article + article + article + article + article + article {margin: 0 0 30px 0;}
div#gallery article + article, div#gallery article + article + article + article + article, div#gallery article + article + article + article + article + article + article + article{margin: 0 2% 30px 2%;}
div#gallery article a{color: #515151;}
div#gallery article a p{display: none; position: absolute; background: rgba(255,255,255,0); width: 100%; bottom:0px; left: 0px;-webkit-transition:all 0.9s ease-in;  -moz-transition:all 0.9s ease-in;  -o-transition:all 0.9s ease-in;  transition:all 0.9s ease-in; margin: 0;}
div#gallery article a:hover p{display: block; background: rgba(255,255,255,0.7);}
div#gallery article a:hover p em{display: block; margin: 5px 14px; font-style: normal;}
div#gallery ul.item-nav{margin: 30px 20%; width: 60%; height: 75px; list-style: none;padding: 0;}
div#gallery ul.item-nav li{float: left; width: 14.2857143%; text-align: center; margin: 0 0 45px 0;}
div#gallery ul.item-nav li a{display: block; background: #3c3333; color: #fff; text-decoration: none; padding: 10px 0; border-left: 1px solid #fff;}
div#gallery ul.item-nav li a:hover{background: #767070;}
div#gallery ul.item-nav li.current{padding: 10px 0; font-weight: bold;}

/***** Left-cont *****/
div#main div.left-cont{float: left; width: 66%;}
div#main div.left-cont span.thumb{display: block; width: 100%; overflow: hidden;}
div#main div.left-cont span.thumb img{width: 100%;}
div#main div.left-cont h1{font-size: 24px;}
div#main div.left-cont div.column{margin: 30px 0;}
div#main div.left-cont div.column ul.double li{float: left; width: 48%;}
div#main div.left-cont div.column ul.double li + li{margin-left: 4%;}
div#main div.left-cont div.column ul.double li p{margin-top: 10px;}

/***** Aside *****/
div#main aside{width: 30%; float: right;}
div#main aside a{color: #e12929;}
div#main aside ul, div#main aside ul li ul{margin: 0 0 30px 0; list-style: none; padding: 0;}
div#main aside ul li{margin: 0 0 45px 0;}
div#main aside ul li h3{font-size: 18px; margin: 0;}
div#main aside ul li ul li{font-size: 14px; font-style: italic; margin: 0;}
div#main aside ul li ul li strong{font-weight: bold; font-style: normal;}
div#main aside ul li.twitter ul li{font-size: 14px; font-style: normal; margin: 0; padding: 5px 0; border-bottom: dotted 1px #999;}
div#main aside ul li.twitter ul li.follow{text-align: right; border-bottom: none;}

/***** Main footer *****/
footer.bottom{clear: both; background: #3c3333; color: #b1adad; padding: 20px 0; height: 100px;}
footer.bottom div.inner{max-width: 1000px; margin: 0 auto;}
footer.bottom ul.sn{margin: 0; padding: 0; list-style: none; float: left;}
footer.bottom ul.sn li{float: left; width: 50px; height: 50px;}
footer.bottom ul.sn li a{display: block; width: 50px; height: 50px; text-indent: -9999px; opacity: 0.6;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";  filter: alpha(opacity=60);   -moz-opacity: 0.6;  -khtml-opacity: 0.6; }
footer.bottom ul.sn li.facebook a{background: url(social-icons.png) left top;}
footer.bottom ul.sn li.flickr a{ background: url(social-icons.png) -50px top;}
footer.bottom ul.sn li.twitter a{background: url(social-icons.png) -100px top;}
footer.bottom ul.sn li.youtube a{background: url(social-icons.png) -150px top;}
footer.bottom ul.sn li.linkedin a{background: url(social-icons.png) -200px top;}
footer.bottom ul.sn li.google a{background: url(social-icons.png) -250px top;}
footer.bottom ul.sn li a:hover{opacity: 1;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  filter: alpha(opacity=100);   -moz-opacity: 1;  -khtml-opacity: 1; }
footer.bottom p{text-align: right; margin: 10px 0 0 0; float: right;}
footer.bottom p a{color: #b1adad; text-decoration: none;}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
