/* =================================================
	Project Name
	Copyright 2010 
	Written for - 
	Developed and designed by 
	Description - styling layout and structure
	
color guide
-----------

#333333		| dark gray		| used for text
#ffffff		| white			| generic white color

================================================= */

/*				=index.html		
------------------------------------------------- */

/***************** Header *****************/
#header {
	background:url(../images/header-bg.png) center 0 repeat-x;
	height:88px;
}
/* Logo */
#header #logo {
	width:261px;
	height:68px;
	float:left;
	position:relative;
	top:10px;
}
#header #logo a {
	display:block;
	width:261px;
	height:68px;
	background:url(../images/tnm-logo.png) 0 0 no-repeat;
	text-indent:-999em;
}
/* Top Menu */
#header #topMenu {
	width:600px;
	float:right;
	text-align:right;
}
#header #topMenu ul {
	line-height:88px;
	padding:0;
	margin:0;
}
#header #topMenu ul li {
	padding:0 22px;
	display:inline;
}
#header #topMenu ul li:last-child {
	padding-right:0;
}
#header #topMenu ul li.login a {
	background: #800000; /* Old browsers */
	background: -moz-linear-gradient(top,  #800000 35%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#800000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #800000 35%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #800000 35%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #800000 35%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #800000 35%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 1px 1px 0px #ffffff;
 	-webkit-box-shadow: 1px 1px 0px #ffffff;
 	box-shadow: 1px 1px 0px #ffffff;
	padding:7px 15px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-shadow:none;
	color:#ffffff;
}
#header #topMenu ul li.login a:hover {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 2%, #800000 77%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#000000), color-stop(77%,#800000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 2%,#800000 77%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 2%,#800000 77%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 2%,#800000 77%); /* IE10+ */
	background: linear-gradient(top,  #000000 2%,#800000 77%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#800000',GradientType=0 ); /* IE6-9 */
}

/***************** Slider *****************/
#slider {
	background:url(../images/slider-bg.png) center 0 repeat-x;
	height:440px;
	max-width:1920px;
	position:relative;
}
#slider .wrapper {
	width:1080px;
	margin:0 auto;
}
#slider .leftSide {
	float:left;
	width:482px;
}
#slider .rightSide {
	float:right;
	width:549px;
}

/***************** Main *****************/
#main {
	background:#fff url(../images/main-bg.png) center 0 no-repeat;
}
#main .wrapper {
	background:url(../images/mainwrap-bg.png) center bottom no-repeat;
}
#main .content {
	float:left;
	width:574px;
}
#main .sidebar {
	float:right;
	width:386px;
}

/* Join Form */
#main #joinForm {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 50%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border:1px solid #f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:41px;
	margin-right:50px;
	position:relative;
}
#main #joinForm .badge {
	position:absolute;
	right:-4px;
	top:-4px;
	background:url(../images/badge-free.png) 0 0 no-repeat;
	width:110px;
	height:110px;
}
#main #joinForm .inside {
	padding:20px 32px;
}
#main #joinForm form {
	margin:15px auto;
}
#main #joinForm input {
	width:453px;
	height:37px;
	background:url(../images/join-input.png) 0 0 no-repeat;
	margin:4px 0;
	border:none;
	outline:none;
	text-indent:20px;
	text-shadow:1px 1px 0 #ffffff;
	font-size:15px;
	color:#333333;
}
#main #joinForm input[type="submit"] {
	width:278px;
	height:58px;
	background:url(../images/join-submit.png) 0 0 no-repeat;
	margin:15px auto 0;
	text-indent:0;
	text-shadow:none;
	font-size:18px;
	color:#ffffff;
	text-transform:uppercase;
	cursor:pointer;
}
#main #joinForm input[type="submit"]:hover {
	background:url(../images/join-submit.png) 0 -58px no-repeat;
}

/* Pricing */
#main #pricing table {
	text-align:center;	
	margin-bottom:40px;
}
#main #pricing table td {
	width:130px;	
}
#main #pricing table tr.packageTitle td {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(left,  #eeeeee 0%, #ffffff 50%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(left,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
	padding:10px 0;
	border-left:1px solid #d0d0d0;
	border-top:1px solid #d0d0d0;
}
#main #pricing table tr.packageTitle td:first-child {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
}
#main #pricing table tr.packageTitle td:last-child {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
}
#main #pricing table tr.packageTitle td:last-child, #main #pricing table tr.storage td:last-child {
	border-right:1px solid #d0d0d0;
}	
#main #pricing table tr.storage td {
	background: #dfdfdf; /* Old browsers */
	background: -moz-linear-gradient(top,  #dfdfdf 3%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#dfdfdf), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dfdfdf 3%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dfdfdf 3%,#ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dfdfdf 3%,#ffffff 99%); /* IE10+ */
	background: linear-gradient(top,  #dfdfdf 3%,#ffffff 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding:3px 0;
	border-left:1px solid #d0d0d0;
}
#main #pricing table tr.domain td {
	background: #bababa; /* Old browsers */
	background: -moz-linear-gradient(top,  #bababa 3%, #c6c6c6 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#bababa), color-stop(99%,#c6c6c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bababa 3%,#c6c6c6 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bababa 3%,#c6c6c6 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bababa 3%,#c6c6c6 99%); /* IE10+ */
	background: linear-gradient(top,  #bababa 3%,#c6c6c6 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
	padding:3px 0;
}
#main #pricing table tr.extra td:last-child {
	background: #343434; /* Old browsers */
	background: -moz-linear-gradient(top,  #343434 0%, #616161 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(99%,#616161)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #343434 0%,#616161 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #343434 0%,#616161 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #343434 0%,#616161 99%); /* IE10+ */
	background: linear-gradient(top,  #343434 0%,#616161 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#616161',GradientType=0 ); /* IE6-9 */
	padding:10px 0;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
#main #pricing table tr.extra td ul {
	margin-left:10px;
	padding:0;
}
#main #pricing table tr.extra td ul li {
	list-style:inside disc;
}

/* Features */
#main ul.features {
	width:387px;
	list-style:none;
	padding:0;
}
#main ul.features li {	
	background:url(../images/features-row.png) 0 0 no-repeat;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #e4e4e4;
	margin:0;
}
#main ul.features li:hover {	
	background:url(../images/features-row.png) 0 -34px no-repeat;
}
#main ul.features li span {
	padding-left:88px;
	display:block;
	height:34px;
	line-height:34px;
}
#main ul.features li span.feat01 {
	background:url(../images/features-icons.png) 0 0 no-repeat;
}
#main ul.features li span.feat02 {
	background:url(../images/features-icons.png) 0 -34px no-repeat;
}
#main ul.features li span.feat03 {
	background:url(../images/features-icons.png) 0 -68px no-repeat;
}
#main ul.features li span.feat04 {
	background:url(../images/features-icons.png) 0 -102px no-repeat;
}
#main ul.features li span.feat05 {
	background:url(../images/features-icons.png) 0 -136px no-repeat;
}
#main ul.features li span.feat06 {
	background:url(../images/features-icons.png) 0 -170px no-repeat;
}
#main ul.features li span.feat07 {
	background:url(../images/features-icons.png) 0 -204px no-repeat;
}
#main ul.features li span.feat08 {
	background:url(../images/features-icons.png) 0 -238px no-repeat;
}
#main ul.features li span.feat09 {
	background:url(../images/features-icons.png) 0 -272px no-repeat;
}
#main ul.features li span.feat10 {
	background:url(../images/features-icons.png) 0 -306px no-repeat;
}
#main ul.features li span.feat11 {
	background:url(../images/features-icons.png) 0 -340px no-repeat;
}
#main ul.features li span.feat12 {
	background:url(../images/features-icons.png) 0 -374px no-repeat;
}
#main ul.features li span.feat13 {
	background:url(../images/features-icons.png) 0 -408px no-repeat;
}

/* Blog */
#main .blogItem {
	margin-bottom:25px;
}
#main .blogItem img {
	float:left;
	border:2px solid #c6c6c6;
	margin-right:15px;
}

/***************** Footer *****************/
#footer {
	background:#ffffff url(../images/footer-bg.png) center 0 repeat-x;
	min-height:88px;
}
#footer #footerMenu ul {
	float:left;
	width:700px;
	padding:0;
	margin:0;
	list-style:none;
}
#footer #footerMenu ul li {
	float:left;
	padding:0 22px;
	border-left:1px solid #a2a2a2;
}
#footer #footerMenu ul li:first-child {
	padding-left:0;
	border-left:none;
}
#footer #social {
	float:right;
	width:200px;
}
#footer #social ul {
	padding:0;
	margin:0;
}
#footer #social ul li {
	display:inline-block;
	zoom:1;
	*display:inline;
	margin-right:6px;
}
#footer #social ul li a {
	display:block;
	width:35px;
	height:34px;
	text-indent:-999em;
}
#footer #social ul li a.rss, a.rss, #social-networks li a.rss {
	background:url(../images/social-icons.png) 0 0 no-repeat;
}
#footer #social ul li a.rss:hover, a.rss:hover, #social-networks li a.rss:hover {
	background:url(../images/social-icons.png) 0 -34px no-repeat;
}
#footer #social ul li a.twitter {
	background:url(../images/social-icons.png) -35px 0 no-repeat;
}
#footer #social ul li a.twitter:hover {
	background:url(../images/social-icons.png) -35px -34px no-repeat;
}
#footer #social ul li a.facebook {
	background:url(../images/social-icons.png) -70px 0 no-repeat;
}
#footer #social ul li a.facebook:hover {
	background:url(../images/social-icons.png) -70px -34px no-repeat;
}

a.rss {
	display: block;
	width: 35px;
	height: 34px;
}
