<?php

/* $Id$ */

/* SQL database connection configuration. */

$DBConf['user']     = '';
$DBConf['pass']     = '';
$DBConf['host']     = '';
$DBConf['database'] = '';
$DBConf['type']     = ''; // 'postgre', 'mysql', 'sqlite'

// If type is sqlite, only specify the database parameter as the database file.

?>
