<div class="fullpage">
	<div class="blogContent">
		{{ page|editline(0, 'h1') }}

		{% if not pagenum %}
			{% if edit %}
				<a href="{{ 'new-blog-post'|url(pageid=page.key.id()) }}">new blog post</a>
			{% endif %}

			{% for b in page.get_blogposts(1, edit) %}
			<div class="blogPost">
				{{ b.imagesz(width=634, height=172) }}
				<div class="postInfo">
					<h3>{{ b.title }}</h3>
					<span class="date">{{ b.date|fdate }}</span>
					{% if b.author %}<span>by {{ b.author }}{% endif %}
					{% if b.tags %}<span>in {{ b.tags|join(', ') }}</span>{% endif %}
					</span>
				</div>
				<div class="postIntro">
					<p>{{ b.short(250) }}</p>
					<span class="more"><a href="{{ rel }}{{ page.name }}/{{ b.url }}">More</a></span>
				</div>
				<div class="clr"></div>
			</div>
			{% endfor %}
		{% else %}
			{{ page.get_blogpost(pagenum).image.get().render(postid=pagenum) }}
			{{ page|editposttitle(pagenum, 'h2') }}
			{{ page|editposttext(pagenum, 'div') }}
			<div class="tags">
				<ul>
					<li><h4>TAGS:</h4></li>
					<li><a href="http://dl.dropbox.com/u/3261026/Muse/blog-single.html#">lorem ipsum</a></li>
					<li><a href="http://dl.dropbox.com/u/3261026/Muse/blog-single.html#">keyword</a></li>
					<li><a href="http://dl.dropbox.com/u/3261026/Muse/blog-single.html#">music</a></li>
					<li><a href="http://dl.dropbox.com/u/3261026/Muse/blog-single.html#">Opera</a></li>
				</ul>
			</div>
		{% endif %}
	</div>

	<aside>
		<ul>
			<li>
				<h3>About Me</h3>
				{{ images[0].render('left') }}
				{{ page|edittext(0, 'div') }}
			</li>
			<li>
				<h3>Tags</h3>
				<ul>
					<li class="tag1">Tag 1</li>
					<li class="tag4">Lorem Ipsum</li>
					<li class="tag2">Dolor sit</li>
					<li class="tag3">Soloist</li>
					<li class="tag2">Opera</li>
					<li class="tag4">Notes</li>
				</ul>
			</li>
			<li class="recent">
				<h3>Recent Posts</h3>
				<ul>
					{% for b in page.recent_posts() %}
					<li><a href="{{ rel }}{{ page.name }}/{{ b.url }}">
						{{ b.imagesz(width=109, height=94) }}
						<h4>{{ b.title }}</h4>
						<p>{{ b.short }}</p>
						<div class="clr"></div>
					</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</aside>

	<div class="clr"></div>
</div>
