{% if edit %}
<div class="fullpage">
	<table>
		<tr>
			<th>available</th><th>using</th>
		</tr>
		<tr>
			<td>
				<ul id="gal_all" class="gal_sortable" style="border: 1px solid black">
				{% for i in all_images %}
					{% if i not in images %}
					<li id="gal_{{ i.key.id() }}">{{ i.render(100) }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			</td><td>
				<ul id="gal_imgs" class="gal_sortable" style="border: 1px solid black">
				{% for i in images %}
					<li id="gal_{{ i.key.id() }}">{{ i.render(100) }}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
$(function() {
	$('#gal_all, #gal_imgs').sortable({
		connectWith: ".gal_sortable",
		stop: function(event, ui) {
			savemap["gal"] = $("#gal_imgs").sortable('toArray').join(',');
			save();
		}
	});
});

{% if all_images %}
$.allimgs = {};
{% for i in all_images %}
$.allimgs["gimg_{{ i.key.id() }}"] = {
	url: "{{ i.urls(1000) }}",
	thumb: "{{ i.urls(75) }}",
	name: "{{ i.name }}",
	desc: "{{ i.desc|default('', True) }}",
};
{% endfor %}
{% endif %}

$.gallery = {};
{% for i in images %}
$.gallery["gimg_{{ i.key.id() }}"] = {
	url: "{{ i.urls(1000) }}",
	thumb: "{{ i.urls(75) }}",
	name: "{{ i.name }}",
	desc: "{{ i.desc|default('', True) }}",
};
{% endfor %}
</script>

{% endif %}

{% if page.layout == 1 %}

<div class="fullpage">

	<div class="media">
		<img id="gallery-img">
		<div class="pics-note">
			<h2 id="gallery-img-title"></h2>
			<p id="gallery-img-desc"></p>
		</div>
	</div>

	<ul id="mycarousel" class="jcarousel-skin-marcos">
		{% for i in images %}
		<li id="gimg_{{ i.key.id() }}">{{ i.render(75) }}</li>
		{% endfor %}
	</ul>
</div>

<script type="text/javascript">
$(function() {
	$('#mycarousel').jcarousel({
	});

	$(document).on('click', '#mycarousel li', function() {
		setImg(this.id);
	});
});

function setImg(id) {
	$("#gallery-img")[0].src = $.gallery[id]['url'];
	$("#gallery-img-title").html($.gallery[id]['name']);
	$("#gallery-img-desc").html($.gallery[id]['desc']);

	$("#mycarousel li.current").removeClass("current");
	$("#" + id).addClass("current");
}

{% if images %}
setImg("gimg_{{ images[0].key.id() }}");
{% endif %}

</script>

{% elif page.layout == 2%}

<div id="gallery" class="big">
	{{ page|editline(1, 'p', 'notes') }}
	{{ page|editline(0, 'h1') }}

{% set rowsz = page.spec().rowsz %}
{% set rows = page.spec().rows %}
{% set pgsz = rowsz * rows %}
{% set pg = get.get('p')|int(1) %}
{% set pgs = (images|length / pgsz)|int + 1 %}
{% set imgs = images[(pg - 1) * pgsz:pg * pgsz] %}
{% set pu = rel + page.name %}
{% for i in imgs %}
	<article class="item">
		<a href="{{ i.urls() }}">
			{{ i.render(320) }}
			<p><em>{{ i.desc if i.desc else i.name }}</em></p>
		</a>
	</article>
{% endfor %}

{% for i in range((rowsz - (imgs|length % rowsz)) % rowsz) %}
	<article class="item"></article>
{% endfor %}

	<ul class="item-nav">
		<li>{% if pg > 1 %}<a href="{{ pu }}?p={{ pg - 1 }}">&larr;</a>{% else %}<a href="{{ pu }}?p={{ pg }}">&larr;</a>{% endif %}</li>
		{% for i in range(1, pgs + 1) %}
			<li{% if i == pg %} class="current"{% endif %}>{% if i != pg %}<a href="{{ pu }}?p={{ i }}">{{ i }}</a>{% else %}{{ i }}{% endif %}</li>
		{% endfor %}
		<li>{% if pg < pgs %}<a href="{{ pu }}?p={{ pg + 1}}">&rarr;</a>{% else %}<a href="{{ pu }}?p={{ pg }}">&rarr;</a>{% endif %}</li>
	</ul>
</div>

{% endif %}
