<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="{{ base }}css/style.css">

	{% block head %}{{ jquery }}{% endblock %}

	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div id="container">

	<header id="top">
		<h1><a href="{{ rel }}" class="editable line" id="_headline">{{ site.headline }}</a></h1>
		<nav>
			<ul id="menu" class="editable">
				{% for p in site.pages %}
				<li id="p_{{ p.id() }}" class="menu_item"><a href="{{ rel }}{{ pages[p].name }}" id="p_{{ p.id() }}_name" {% if page.key == p %} class="editable line current_menu"{% endif %}>{{ pages[p].name }}</a></li>
				{% endfor %}
				<li class="search"><a href="#">Search</a></li>
				<li class="audio"><a href="#">Audio</a></li>
			</ul>
		</nav>
	</header>

	<div id="main" role="main">

		{% include pagetemplate %}

	</div>

	<div id="audio">
		<div class="player">
		<ol>
			<li class="current"><a href="#">The Song Title <span>4:50</span></a></li>
			<li><a href="#">This is the template <span>7:18</span></a></li>
			<li><a href="#">The Song Title <span>4:50</span></a></li>
			<li><a href="#">This is the template <span>7:18</span></a></li>
			<li><a href="#">The Song Title <span>4:50</span></a></li>
			<li><a href="#">This is the template <span>7:18</span></a></li>
		</ol>
			<span class="control">
			<a href="#" class="rew">Rewind</a>
			<a href="#" class="play">Play</a>
			<a href="#" class="pause">Pause</a>
			<a href="#" class="stop">Stop</a>
			<a href="#" class="forw">Forward</a>
		</span>
		<p><small>Song:</small> Song Title</p>
		<p><small>Album:</small> Album Title</p>
		<p><small>Duration:</small> 4:32 </p>
		</div>
		<span class="close"><a href="#">X</a></span>
	</div>


</div> <!--! end of #container -->

			<div id="search">
			<form action="/search" method="get">
				<label>Search Keywords:</label>
				<input type="text" name="q" value="" class="query"/>
				<input type="submit" value="Search" class="btn"/>
				<span class="close"><a href="#">X</a></span>
			</form>
			</div>

<footer class="bottom">
 <div class="inner">
	<ul class="sn editable social" id="social">
		{% if edit or site.facebook %}<li class="facebook"><a href="{{ site.facebook|default('', true) }}" value="{{ site.facebook|default('', true) }}" id="_facebook">Facebook</a></li>{% endif %}
		{% if edit or site.twitter %}<li class="twitter"><a href="{{ site.twitter|default('', true) }}" value="{{ site.twitter|default('', true) }}" id="_twitter">Twitter</a></li>{% endif %}
		{% if edit or site.youtube %}<li class="youtube"><a href="{{ site.youtube|default('', true) }}" value="{{ site.youtube|default('', true) }}" id="_youtube">YouTube</a></li>{% endif %}
		{% if edit or site.flickr %}<li class="flickr"><a href="{{ site.flickr|default('', true) }}" value="{{ site.flickr|default('', true) }}" id="_flickr">flickr</a></li>{% endif %}
		{% if edit or site.linkedin %}<li class="linkedin"><a href="{{ site.linkedin|default('', true) }}" value="{{ site.linkedin|default('', true) }}" id="_linkedin">Linkedin</a></li>{% endif %}
		{% if edit or site.google %}<li class="google"><a href="{{ site.google|default('', true) }}" value="{{ site.google|default('', true) }}" id="_google">Google+</a></li>{% endif %}
	</ul>
	<p>&copy; 2011 <a href="http://www.thenextmuse.com">thenextmuse.com</a></p>
 </div>
</footer>

<script src="{{ base }}js/script.min.js"></script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
