<!doctype html>
<html {%- block html %}{% endblock %}>
<head>
	<meta charset="utf-8">

	<title></title>

	{{ jquery }}

	<link rel="stylesheet" href="{{ base }}css/{{ site.color }}.css">

	{% block head %}{% endblock %}

	{% if page.type == 'gallery' and page.layout == 1 %}
		<script src="{{ base }}js/jquery.jcarousel.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ base }}css/carousel/skin.css">
	{% endif %}
</head>
<body>

<div id="container">

	<header id="top">
		<h1><a href="{{ rel }}" class="editable line" id="_headline">{{ site.headline }}</a></h1>
		<nav>
			<ul id="menu" class="editable-nojs">
				{% for p in site.pages %}
				<li id="p_{{ p.id() }}" class="menu_item"><a href="{{ rel }}{{ pages[p].name }}" id="p_{{ p.id() }}_name" {% if page.key == p %} class="editable line current_menu"{% endif %}>{{ pages[p].name }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>

	<div id="main" role="main"{% if page.type == 'blog' %} class="blog"{% endif %}>

		{% include pagetemplate %}

	</div>
</div>

<footer class="bottom">
	<div class="inner">
		<ul class="sn editable social" id="social">
			{% if mode == 'edit' %}
			<div ng-show="no_social()">
				No social media links
			</div>
			{% endif %}
			{% for k, n in site.social_media %}
			{% if mode == 'edit' or site[k] %}<li class="{{ k }}" id="disp_{{ k }}"{% if mode =='edit' %} ng-show="socialmap['{{ k }}']"{% endif %}><a href="{{ site[k]|default('', True) }}" value="{{ site[k]|default('', True) }}" target="_blank" id="_{{ k }}">{{ n }}</a></li>{% endif %}
			{% endfor %}
		</ul>
		<p>&copy; 2011 <a href="http://www.thenextmuse.com">thenextmuse.com</a></p>
	</div>
</footer>

<script src="{{ base }}js/script.min.js"></script>

</body>
</html>
