{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>about us</h1>
	</div>

	<div class="row">
		<div class="span12">
			<h3>who made journalr</h3>
			<p>jouralr was made by <a href="http://blog.mattjibson.com/">Matt Jibson</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>want to help?</h3>
			<p>The code is hosted on GitHub: <a href="https://github.com/mjibson/journalr">https://github.com/mjibson/journalr</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>problems</h3>
			<p>You may <a href="https://github.com/mjibson/journalr/issues">submit issues</a> or email us at <a href="mailto:contact@journalr.org">contact@journalr.org</a>.</p>
		</div>
	</div>
{% endblock %}
