{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>about us</h1>
	</div>

	<div class="row">
		<div class="span16">
			<h3>who made journalr</h3>
			<p>jouralr was made by <a href="http://mjibson.github.com/">Matt Jibson</a>.</p>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>want to help?</h3>
			<p>The code is hosted on GitHub: <a href="https://github.com/mjibson/journalr">https://github.com/mjibson/journalr</a>. Feel free to fork and send pull requests.</p>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>problems</h3>
			<p>journalr is still in beta, and subject to change and errors. You may <a href="https://github.com/mjibson/journalr/issues">submit issues</a> or email me at <a href="mailto:matt.jibson@gmail.com">matt.jibson@gmail.com</a>.</p>
		</div>
	</div>
{% endblock %}
