{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>account</h1>
	</div>

	<div class="row">
		<div class="span16">
			<table>
				<tr><td>name</td><td>{{ user.name }}</td></tr>
				<tr><td>login with</td><td>{{ user.source }}</td></tr>
				<tr><td>user since</td><td>{{ user.register_date|jdate }}</td></tr>
				<tr>
					<td>avatar</td>
					<td>
						<img src="{{ user.gravatar }}&amp;s=50" alt="{{ user.name }}">
						<p>Change your avatar at <a href="http://gravatar.com/emails">gravatar.com</a>
						<br><small>
							{% if user.email %}
								We're using {{ user.email }}
							{% else %}
								No email address, so no avatar
							{% endif %}
						</small>
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>settings</h3>
			<form method="POST">
				<fieldset>
					<div class="clearfix">
						<label for="email">email</label>
						<div class="input">
							<input id="email" name="email" type="text" value="{{ user.email|default_if_none:"" }}" />
						</div>
					</div>
					<div class="actions">
						<input type="submit" class="btn primary" value="Save">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
