{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>account</h1>
	</div>

	<div class="row">
		<div class="span16">
			<table>
				<tr><td>name</td><td>{{ u.name }}</td></tr>
				<tr><td>login with</td><td>{{ u.source }}</td></tr>
				<tr><td>user since</td><td>{{ u.register_date|jdate }}</td></tr>
				<tr><td>total upload size</td><td>{{ u.allowed_data|filesizeformat }}</td></tr>
				<tr><td>used upload size</td><td>{{ u.used_data|filesizeformat }}</td></tr>
				{% if u.can_upload %}<tr><td>remaining upload size</td><td>{{ u.bytes_remaining|filesizeformat }}</td></tr>{% endif %}
				<tr>
					<td>avatar</td>
					<td>
						<img src="{{ u.gravatar }}&amp;s=50" alt="{{ u.name }}">
						<p>Change your avatar at <a href="http://gravatar.com/emails">gravatar.com</a>
						<br><small>
							{% if u.email %}
								We're using {{ u.email }}
							{% else %}
								No email address, so no avatar
							{% endif %}
						</small>
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>settings</h3>
			<form method="POST">
				<fieldset>
					<div class="clearfix">
						<label for="email">email</label>
						<div class="input">
							<input id="email" name="email" type="text" value="{{ u.email|default_if_none:"" }}" />
						</div>
					</div>
					<div class="actions">
						<input type="submit" class="btn primary" value="Save">
					</div>
				</fieldset>
			</form>
		</div>
	</div>

{% endblock %}
