<!DOCTYPE html>
<html>
<head>
	<title>NYC Now</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/site.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32700570-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="{{ 'main'|url }}">NYC Now</a>
				<span class="brand"><a href="#" class="map_show" id="current_position"></a></span>
				<ul class="nav pull-right">
					<li><button id="my_location" class="btn btn-inverse">my location</button></li>
					<li><a href="{{ 'about'|url }}">about</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
