{% extends "blog-base.html" %}

{% block title %} - {{ p.title }}{% endblock %}

{% block content %}
	<div class="post type-post status-publish format-standard hentry category-inspiring">
		<h1 id="title">{{ p.title }}</h1>
			<div class="feature-image">
				{{ p.imagesz(width=620, height=412, class='attachment-endless-thumbnail-staggered wp-post-image') }}
			</div>
			<div class="content clearfix">
				{{ p.text|markdown }}
			</div>
			<div class="entry-date">
				<span class="month">{{ p.date|date('%b') }}</span>
				<span class="day">{{ p.date|date('%d') }}</span>
			</div>
			<div class="meta">
				<div class="posts-navigation">
					<div class="nav-previous hide-text"></div>
					<div class="nav-next hide-text"><a href="{{ prev.url }}" rel="prev"><span>{{ prev.title }}</span></a></div>
				</div>
				<span class="author">{{ p.author }}</span>
				<span class="date">{{ p.date|fdate }}</span>
				<span class="comments"><a href="#disqus_thread" data-disqus-identifier="{{ p.key.id() }}">comments</a></span>
				{% if p.has_tags -%}
					{% for t in p.tags %}
						<a href="{{ 'site-blog-tag'|url(tag=t) }}"><span class="categories">{{ t }}</span></a>
						{%- if not loop.last %},{% endif %}
					{% endfor %}
				{%- endif %}
			</div>
	</div>

	<div id="comments" class="have-comments">
		<div id="disqus_thread"></div>
	</div>
{% endblock %}

{% block bodyend %}
	<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'thenextmuse'; // required: replace example with your forum shortname
			var disqus_identifier = '{{ p.key.id() }}';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
