{% extends template %}

{% block head %}

{{ jquery }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="/static/js/jquery.form.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css">

<script>
	function validURL(u) {
		if(u.match("^[-A-Za-z0-9._~:/?#@!$&'()*+,;=% \\[\\]]+$"))
			return true;
		return false;
	};

	function checkURL(u) {
		if(!validURL(u))
		{
			alert('Invalid URL: ' + u);
			return false;
		}

		return true;
	}

	var linkmap = {};
	{% for i in page.links %}
		linkmap["_link_{{ loop.index0 }}_url"] = '{{ i|linkmap }}';
	{% endfor %}
	function linkCheck(v, i) {
		if(linkmap[i] == v)
			return 'checked';
		return '';
	}

	var savemap = {};
	function save() {
		if(!$.isEmptyObject(savemap))
		{
			$("#save").text('saving...');
			var m = savemap;
			backup = m;
			savemap = {};

			$.post('{{ "save"|url(pagekey=page.key.urlsafe()) }}', m, function(data, textStatus, jqXHR) {
				var j = jQuery.parseJSON(data);
				$.each(j, function(k, v) {
					imageurls[k].url = v;
					$("#" + k)[0].src = v;
				});

				$('#save').html('&nbsp;');
				$('#saved').show().fadeOut(1000);
			});
		}
		else
		{
			$('#saved').show().fadeOut(1000);
		}
	}

	$(function() {
		var backup;

		$('body').prepend(
			'<div class="toolbar">' +
				'<span id="save">&nbsp;</span>' +
				' <span id="saved" style="display: none">saved</span>' +
				' <span id="error" style="display: none"><b>error</b></span>' +
				' <a id="view" href="{{ view_url }}">view</a>' +
				' <a id="publish" href="#">publish</a>' +
				' <a href="{{ published_url }}">published</a>' +
				' <span id="publishing" style="display: none">publishing...</span>' +
			'</div>'
		);

		$('#save').ajaxError(function() {
			$(this).text('save');
			$('#error').show().fadeOut(4000);
			$.extend(savemap, backup);
		});

		$(document).on("click", "#publish", function() {
			$.ajax({
				url: '{{ publish_url }}',
			});

			$('#publishing').show().fadeOut(4000);
		});

		// text

		$(".editable.text").each(function() {
			var i = this.id + "_text";
			var f = this.id + "_focus";
			var d = this.id + "_div";
			var h = '<div class="modal" id="' + d + '">' +
				'<p><label for="text">Text</label>' +
				'<input type="text" size="30" class="' + f + '" name="' + i + '" id="' + i + '" value="' + $(this).text() + '" /></p>' +
				'<p><a class="close text" href="#">save</a> <a href="#" class="cancel">cancel</a></p></div>';
			$(this).after(h);
		});

		$(document).on("click", ".close.text", function() {
			var i = $(this).parents("div").first().prev();
			var t = $("#" + i[0].id + "_text");

			if(t[0].value)
			{
				i.text(t[0].value);
				savemap[i[0].id] = i.html();
				$(this).parents(".modal").hide();
				save();
			}

			return false;
		});

		// social

		socialmap = {};
		socialmap["facebook"] = "{{ site.facebook|default('', true) }}";
		socialmap["twitter"] = "{{ site.twitter|default('', true) }}";
		socialmap["youtube"] = "{{ site.youtube|default('', true) }}";
		socialmap["flickr"] = "{{ site.flickr|default('', true) }}";
		socialmap["linkedin"] = "{{ site.linkedin|default('', true) }}";
		socialmap["google"] = "{{ site.google|default('', true) }}";

		$(".editable.social").each(function() {
			var i = "social";
			var d = "social_div";
			var h = '<div class="modal" style="color: black" id="' + d + '">' +
				'<p>Facebook: <input type="text" size="45" id="' + i + '_facebook" value="' + socialmap["facebook"] + '" /></p>' +
				'<p>Twitter: <input type="text" size="45" id="' + i + '_twitter" value="' + socialmap["twitter"] + '" /></p>' +
				'<p>YouTube: <input type="text" size="45" id="' + i + '_youtube" value="' + socialmap["youtube"] + '" /></p>' +
				'<p>flickr: <input type="text" size="45" id="' + i + '_flickr" value="' + socialmap["flickr"] + '" /></p>' +
				'<p>Linkedin: <input type="text" size="45" id="' + i + '_linkedin" value="' + socialmap["linkedin"] + '" /></p>' +
				'<p>Google+: <input type="text" size="45" id="' + i + '_google" value="' + socialmap["google"] + '" /></p>' +
				'<p><a class="close social" style="color: black" href="#">save</a> <a href="#" style="color: black" class="cancel">cancel</a></p></div>';
			$(this).after(h);
		});

		$(document).on("click", ".close.social", function() {
			$.each(socialmap, function(k, v) {
				var i = $("#social_" + k)[0];
				if(!i.value || checkURL(i.value))
				{
					savemap["_" + k] = i.value;
				}
			});

			$(this).parents(".modal").hide();
			save();
			return false;
		});

		// link

		$(".editable.link").each(function() {
			var i = this.id + "_url";
			var t = this.id + "_text";
			var f = this.id + "_focus";
			var d = this.id + "_div";

			var v = '';
			if(linkCheck('url', i))
				v = this.name;

			var h = '<div class="modal" id="' + d + '">' +
				'<p>Text: ' +
				'<input type="text" size="45" class="' + f + '" name="' + t + '" id="' + t + '" value="' + $(this).text() + '" /></p>' +
				'<p>Link:</p>' +
				'<br><input type="radio" name="' + i + '" value="url" ' + linkCheck('url', i) + '><input type="text" id="' + i + '_val" value="' + v + '">' +
				{% for k, v in pages.items() %}
					'<br><input type="radio" name="' + i + '" value="page:{{ k.id() }}" ' + linkCheck('page:{{ k.id() }}', i) + '> {{ v.name }}' +
				{% endfor %}
				'<p><a class="close link" href="#">save</a> <a href="#" class="cancel">cancel</a></p></div>';
			$(this).after(h);
		});

		$(document).on("click", ".close.link", function() {
			var d = $(this).parents("div").first();
			var i = d.prev();
			var v = $("#" + i[0].id + "_url_val");
			var t = $("#" + i[0].id + "_text");
			var c = $('input[name=' + i[0].id + '_url]:radio:checked');

			if(c[0].value != 'url' || checkURL(v[0].value))
			{
				var url;
				if(c[0].value == 'url')
					url = v[0].value;
				else
					url = c[0].value;

				i.text(t[0].value);
				savemap[t[0].id] = i.html();
				savemap[i[0].id + "_url"] = url;
				$(this).parents(".modal").hide();
				save();
			}

			return false;
		});

		// image

		// remove <a> from around images
		$("a:has(img)").find(".editable.image").unwrap();

		imageurls = {};
		{% for i in images %}
		imageurls["_image_{{ loop.index0 }}"] = {
			orig: "{{ i.orig|default('', true) }}",
			url: "{{ i.url|default('', true) }}",
			portw: {{ i.width }},
			porth: {{ i.height }},
			basew: {{ i.ow|default(0) }},
			baseh: {{ i.oh|default(0) }},
			x: {{ i.x|default(0) }},
			y: {{ i.y|default(0) }},
			s: {{ i.s|default(0) }},
			basetop: $("#_image_{{ loop.index0 }}").position().top,
			baseleft: $("#_image_{{ loop.index0 }}").position().left,
			wscale: 0,
			hscale: 0,
			min_scale: 0,
			max_scale: 0,

		};
		{% endfor %}

		var cur_img;
		$(".editable.image").each(function() {
			var f = this.id + "_file";
			var d = this.id + "_div";
			var r = this.id + "_iframe";
			var form = this.id + "_form";

			var h = '<div class="modal" id="' + d + '">' +
				'<p>Upload: <form method="POST" id="' + form + '" target="' + r + '" enctype="multipart/form-data"><input type="file" id="' + f + '" name="' + f + '"></form><a class="upload image" href="#">upload</a></p>' +
				'<iframe id="' + r + '" src="#" style="width: 0; height: 0; border: 0px solid #fff;"></iframe>' +
				'<p><a class="close image" href="#">save</a> <a href="#" class="cancel">cancel</a></p></div>';
			$(this).after(h);
		});

		function loadimg(id) {
			var o = imageurls[id];

			o.wscale = o.portw / o.basew;
			o.hscale = o.porth / o.baseh;
			o.min_scale = Math.max(o.wscale, o.hscale);
			o.max_scale = Math.max(o.min_scale * 3);
			o.s = Math.max(o.min_scale, o.s);
			o.s = Math.min(o.max_scale, o.s);

			$("#imgslider").slider("destroy");
			$("#imgslider").slider({
				orientation: "vertical",
				min: o.min_scale,
				max: o.max_scale,
				step: (o.max_scale - o.min_scale) / 100,
				slide: resize,
				value: o.s,
			});
		}

		function resize(event, ui) {
			var o = imageurls[cur_img];
			var wscale = o.wscale;
			var hscale = o.hscale;
			var min_scale = o.min_scale;
			var max_scale = o.max_scale;
			var size = Math.max(o.min_scale, ui.value);
			size = Math.min(o.max_scale, size);

			var w = o.basew * size;
			var h = o.baseh * size;
			var portw = o.portw;
			var porth = o.porth;
			var basetop = o.basetop;
			var baseleft = o.baseleft;
			var f = 0.8;

			$("#containerimg").css({height: h, width: w});
			$("#leftcontainer").css({width: w - portw, height: porth, top: h - porth});
			$("#rightcontainer").css({width: w - portw, height: porth, top: h - porth});
			$("#topcontainer").css({width: 2 * w - portw, height: h - porth});
			$("#bottomcontainer").css({width: 2 * w - portw, height: h - porth});
			$("#imgslider").css({top: h - porth * (f + 1) / 2, left: w - 20, height: porth * f});
			$("#imgcontainer").css({
				width: 2 * w - portw,
				height: 2 * h - porth,
				top: basetop + porth - h,
				left: baseleft + portw - w,
			});

			var pos = $("#containerimg").position();
			if(pos.left + w > 2 * w - portw)
				$("#containerimg").css({left: w - portw});
			if(pos.top + h > 2 * h - porth)
				$("#containerimg").css({top: h - porth});

			o.x = pos.left;
			o.y = pos.top;
			o.s = size;
		}

		$(document).on("click", ".close.image", function() {
			var d = $(this).parents("div").first();
			var i = d.prev();
			var o = imageurls[i[0].id];

			// resize isn't called if the image is only dragged around, so call it now
			resize(0, {'value': o.s});

			savemap[i[0].id + "_x"] = o.x;
			savemap[i[0].id + "_y"] = o.y;
			savemap[i[0].id + "_s"] = o.s;
			$(this).parents(".modal").hide();
			stopImageEdit();
			save();

			return false;
		});

		$(document).on("click", ".upload.image", function() {
			var d = $(this).parents("div").first();
			var i = d.prev();
			var form = $("#" + i[0].id + "_form");

			$.ajax({
				url: '{{ upload_url }}?image=' + i[0].id,
				success: function(data) {
					form.attr('action', data);
					form.ajaxSubmit({
						success: function(data, stat, xhr) {
							if(data == '')
							{
								alert("error during upload");
								return
							}

							var j = jQuery.parseJSON(data);
							i[0].src = j.url;
							var o = imageurls[i[0].id];
							o.url = j.url;
							o.orig = j.orig;
							o.basew = j.w;
							o.baseh = j.h;
							$("#containerimg").css('background-image', 'url(' + o.orig + ')');
							loadimg(i[0].id);
							resize(0, {'value': o.s});
						}
					});
				}
			});
		});

		$(document).on("click", ".editable.image", function() {
			var h = '<div id="imgcontainer">' +
				'<div id="topcontainer" class="containerdiv"></div>' +
				'<div id="leftcontainer" class="containerdiv"></div>' +
				'<span id="containerimg"></span>' +
				'<div id="imgslider"></div>' +
				'<div id="rightcontainer" class="containerdiv"></div>' +
				'<div id="bottomcontainer" class="containerdiv"></div>' +
				'</div>';
			$(this).before(h);

			cur_img = this.id;
			var o = imageurls[this.id];

			$("#containerimg").draggable({ containment: 'parent' });
			$("#containerimg").css('background-image', 'url(' + o.orig + ')');

			loadimg(this.id);
			resize(0, {'value': o.s});

			return false;
		});

		// all

		function stopImageEdit() {
			$("#imgcontainer").remove();
		}

		$(document).on("click", ".editable", function() {
			$('#' + this.id + '_div').show();
			$("." + this.id + "_focus").focus();
			return false;
		});

		$(document).on("click", ".cancel", function() {
			$(this).parents(".modal").hide();
			stopImageEdit();
			return false;
		});

		$(document).keyup(function(e){
			if(e.keyCode == 27)
			{
				$(".modal").hide();
				stopImageEdit();
			}
		});
	});
</script>

<style media="screen" type="text/css">
	.editable {
		border: 2px solid yellow;
	}
	.modal {
		background: white;
		z-index: 1000;
		border: 2px solid red;
		display: none;
		position: absolute;
	}
</style>
<style type="text/css">
/* .container needs to be same size at img */
#imgcontainer
{
	position:absolute;
	z-index:1;
	margin:0 auto;
	overflow: visible;
}

#imgslider
{
	position: relative;
	z-index:15;
	width: 4px;
}

#imgslider a
{
	width: 15px;
	height: 15px;
}

/* .container:before 1/4 img width, 1/2 img height, left 0, top 1/4 img, */
#leftcontainer
{
}

/* .container:before 1/4 img width, 1/2 img height, left 0, top 1/4 img, */
#topcontainer
{
}

/* .container:before 1/4 img width, 1/2 img height, left 3/4 img, top 1/4 img */
#rightcontainer
{
	right:0;
}
/* .container:before 1/4 img width, 1/2 img height, left 3/4 img, top 1/4 img */
#bottomcontainer
{
	bottom:0;
}

/* .img would be your actual img at full size */
#containerimg
{
	display:block;
	position:absolute;
	z-index:10;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: move;
}

.containerdiv
{
	content: "";
	display: block;
	position: absolute;
	z-index: 15;
	opacity: 0.6;
	background: white;
}

</style>

{% endblock %}
