{% extends template %}

{% block head %}

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css">

<script type="text/javascript">

$(function() {
	$.tnm = {};

	$.tnm.linkmap = {};
	{% for i in page.links %}
	$.tnm.linkmap["_link_{{ loop.index0 }}_url"] = '{{ i|linkmap }}';
	{% endfor %}

	$.tnm.socialmap = {};
	$.tnm.socialmap["facebook"] = "{{ site.facebook|default('', true) }}";
	$.tnm.socialmap["twitter"] = "{{ site.twitter|default('', true) }}";
	$.tnm.socialmap["youtube"] = "{{ site.youtube|default('', true) }}";
	$.tnm.socialmap["flickr"] = "{{ site.flickr|default('', true) }}";
	$.tnm.socialmap["linkedin"] = "{{ site.linkedin|default('', true) }}";
	$.tnm.socialmap["google"] = "{{ site.google|default('', true) }}";

	{% if page.type != 'gallery' %}
	$.tnm.imageurls = {};
	{% for i in images %}
	$.tnm.imageurls["_image_{{ loop.index0 }}"] = {
		orig: "{{ i.orig|default('', true) }}",
		url: "{{ i.url|default('', true) }}",
		portw: {{ i.width }},
		porth: {{ i.height }},
		basew: {{ i.ow|default(0) }},
		baseh: {{ i.oh|default(0) }},
		x: {{ i.x|default(0) }},
		y: {{ i.y|default(0) }},
		s: {{ i.s|default(0) }},
		basetop: $("#_image_{{ loop.index0 }}").position().top,
		baseleft: $("#_image_{{ loop.index0 }}").position().left,
		wscale: 0,
		hscale: 0,
		min_scale: 0,
		max_scale: 0,
	};
	{% endfor %}
	{% endif %}

	{% if page.type == 'blog' and pagenum %}
	{% set i = page.get_blogpost(pagenum).image.get() %}
	{% set id = '_postimage_%s' %pagenum %}
	$.tnm.imageurls["{{ id }}"] = {
		orig: "{{ i.orig|default('', true) }}",
		url: "{{ i.url|default('', true) }}",
		portw: {{ i.width }},
		porth: {{ i.height }},
		basew: {{ i.ow|default(0) }},
		baseh: {{ i.oh|default(0) }},
		x: {{ i.x|default(0) }},
		y: {{ i.y|default(0) }},
		s: {{ i.s|default(0) }},
		basetop: $("#{{ id }}").position().top,
		baseleft: $("#{{ id }}").position().left,
		wscale: 0,
		hscale: 0,
		min_scale: 0,
		max_scale: 0,
	};
	{% endif %}

	$.tnm.existingimgs =
	{% for i in all_images %}
		'<option value="{{ i.key.id() }}">{{ i.name }} ({{ i.width }}x{{ i.height }})</option>' +
	{% endfor %}
	'';

	$.tnm.pagelinks = {};
	{% for i in page.links %}
		{% set key = '_link_' + '%i'|format(loop.index0) %}
		{% set idx = loop.index0 %}
		$.tnm.pagelinks['{{ key }}'] =
		{% for k, v in pages.items() %}
			'<br><input type="radio" name="{{ key }}" value="page:{{ k.id() }}" ' + linkCheck('page:{{ k.id() }}', {{ idx }}) + '> {{ v.name }}' +
		{% endfor %}
		'';
	{% endfor %}

	$.tnm.layouts =
		{% for i in range(1, page.layouts + 1) %}
			{% if i == page.layout %}
				' {{ i }}' +
			{% else %}
				' <a href="{{ "layout"|url(siteid=site.key.id(), pageid=page.key.id(), layoutid=i) }}">{{ i }}</a>' +
			{% endif %}
		{% endfor %}
		'';

	$.tnm.newpagetypes =
		{% for t, layouts in site.types|dictsort %}
			{% for l in layouts %}
				'<option value="{{ t }}:{{ l }}">{{ t }} ({{ l }})</option>' +
			{% endfor %}
		{% endfor %}
		'';

	$.tnm.archivepages =
		{% for p in site.archived_pages %}
			'<option value="{{ p.key.id() }}">{{ p.name }}</option>' +
		{% endfor %}
		'';

	$.tnm.newpageurl = '{{ "new-page"|url }}';
	$.tnm.archivepageurl = '{{ "archive-page"|url }}';
	$.tnm.unpublishpageurl = '{{ "unpublish-page"|url(pageid=page.key.id()) }}';

	$.tnm.publishedurl = '{{ published_url }}';
	$.tnm.publishurl = '{{ publish_url }}';
	$.tnm.saveurl = '{{ "save"|url(siteid=site.key.id(), pageid=page.key.id()) }}';
	$.tnm.viewurl = '{{ view_url }}';
	$.tnm.uploadurl = '{{ upload_url }}';
	$.tnm.domain = '{{ site.domain|default('', True) }}';
});

</script>

<script src="/static/js/site.min.js"></script>
<script src="/static/js/edit.min.js"></script>

<style type="text/css">
.editable, .editable-nojs {
	border: 2px solid yellow;
}
.modal {
	background: white;
	z-index: 1000;
	border: 2px solid red;
	display: none;
	position: absolute;
}

#imgcontainer
{
	position:absolute;
	z-index:1;
	margin:0 auto;
	overflow: visible;
}

#imgslider
{
	position: relative;
	z-index:15;
	width: 4px;
}

#imgslider a
{
	width: 15px;
	height: 15px;
}

#rightcontainer
{
	right:0;
}

#bottomcontainer
{
	bottom:0;
}

#containerimg
{
	display:block;
	position:absolute;
	z-index:10;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: move;
}

.containerdiv
{
	content: "";
	display: block;
	position: absolute;
	z-index: 15;
	opacity: 0.6;
	background: #dddddd;
}
</style>

<link rel="stylesheet" type="text/css" href="/gae_mini_profiler/static/css/profiler.css" />
<script type="text/javascript" src="/gae_mini_profiler/static/js/profiler.js"></script>
<script type="text/javascript">GaeMiniProfiler.init(jQuery.cookiePlugin('MiniProfilerId'), false)</script>

{% endblock %}
