<div class="row">
	<div class="span16">
		<h3><a href="{{ entry_url }}">
		{% if content.subject %}
			{{ content.subject }}</a> <small>from {{ entry.date|jdate }}</small>
		{% else %}
			{{ entry.date|jdate }}</a>
		{% endif %}
		</h3>

		{{ content.text|default:""|linebreaks }}

		{% for b in blobs %}
			{% if b.type == 1 %}
				<p><a href="{{ b.url }}"><img src="{{ b.url }}=s100" alt="{{ b.name }}"></a></p>
			{% endif %}
		{% endfor %}

		<p><small>{{ entry.chars }} character{{ entry.chars|pluralize }}, {{ entry.words }} word{{ entry.words|pluralize }}, {{ entry.sentences }} sentence{{ entry.sentences|pluralize }}.
		{% if content.tags %}
			tags: {{ content.tags|join:", " }}
		{% endif %}
		</small></p>
	</div>
</div>
