{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1><a href="{{ username|user_journal_url:journal_name }}">{{ journal_name }}</a></h1>
	</div>

	<div class="row">
		<div class="span16">
			<form method="POST" action="{{ upload_url }}" enctype="multipart/form-data">
			<input type="hidden" name="journal_name" value="{{ journal_name }}">
			<input type="hidden" name="username" value="{{ username }}">
			<input type="hidden" name="entry_id" value="{{ entry.key.id }}">
				<fieldset>
					<div class="clearfix">
						<label for="subject">subject</label>
						<div class="input">
							<input class="xxlarge" id="subject" name="subject" type="text" value="{{ content.subject|default:"" }}" />
						</div>
					</div>
					<div class="clearfix">
						<label for="date">date</label>
						<div class="input">
							<input class="small" id="date" name="date" type="text" value="{{ entry.date|date:"m/d/Y" }}" />
							<input class="mini" id="time" name="time" type="text" value="{{ entry.date|date:"h:i A" }}" />
							<span class="help-inline">date format: MM/DD/YYYY; time is optional, format is HH:MM AM/PM</span>
						</div>
					</div>
					<div class="clearfix post-speech">
						<label for="text">text</label>
						<div class="input">
							<textarea class="xxlarge" id="text" name="text">{{ content.text|default:"" }}</textarea>
						</div>
					</div>
					<div class="clearfix">
						<label for="tags">tags</label>
						<div class="input">
							<input class="xlarge" id="tags" name="tags" type="text" value="{{ content.tags|join:", " }}" />
							<span class="help-inline">comma separated (ex: kids, funny story, park)</span>
						</div>
					</div>

					{% for b in blobs %}
					<div class="clearfix">
						<div class="input">
							<input type="checkbox" name="blob" value="{{ b.key.id }}" checked>
							{{ b.size|filesizeformat }}, <a href="{{ b.url }}">{{ b.name }}</a>
						</div>
					</div>
					{% endfor %}

					<div class="actions post-attach">
						<input type="submit" class="btn primary" value="Save">
						<input id="delete" type="submit" class="btn danger disabled" disabled="disabled" name="delete" value="Delete entry">
							<input id="sure" type="checkbox" name="sure">
							<span>I'm sure</span>
							<span class="help-inline">this will delete all files attached to this entry, too</span>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	{{ render|safe }}
{% endblock %}
