<div id="footer">
	<div class="wrapper">
		<!--div id="footerMenu">
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div-->

		<div id="social">
			<ul>
				<li><a class="rss" href="{{ 'blog-rss'|url }}">RSS Feed</a></li>
				<li><a class="twitter" href="https://twitter.com/thenextmuse">Twitter</a></li>
				<li><a class="facebook" href="https://www.facebook.com/thenextmuse">Facebook</a></li>
			</ul>
		</div>

		<!--div class="clear"></div-->

		<div id="copyright">
			<p>&copy; 2012 <a href="/">The Next Muse</a></p>
		</div>
	</div>
</div>
