{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>journalr <small>modern journaling</small></h1>
	</div>

	<div class="row">
		<div class="span16 alert-message warning">
			<h3>early users beware!</h3>
			<p>journalr is still in development, so don't actually start keeping a real journal here. Your data could be deleted during testing.</p>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>what we do</h3>
			<p>Journal keeping is an important part of many people's lives. Some would like to journal, or journal more. In our lives, we found that the act of writing a journal on paper is hard or slow enough to deter our journaling. Not knowing how much others are journaling, it is difficult to know what we should expect of our own journaling practices. We created this site to solve these problems. journalr is built to:</p>
			<ul>
				<li>provide easy, modern journaling</li>
				<li>expose journal writing practices to others</li>
				<li>backup everything in your journals</li>
				<li>not be a public blog</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>easy, modern journals</h3>
			<p>Pen and paper, though more personal, are often not practical today. With busy schedules and little free time, writing is difficult. The popularity of smart phones provides new opportunities. At journalr, we think journaling should fit into your life naturally, instead of having to force yourself to sit down and write. We provide easy-to-use journaling software available anywhere you have an internet connection.</p>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>social journaling</h3>
				<p>Knowing how often another person journals and how much they write can help us to set reasonable goals for our own journal keeping. journalr does this by publically displaying the frequency and size of your journaling. (The content of your journals will never be shown.) We believe that when you can see how often your friends are journaling, you will have more self-accountability and increase your own journaling frequency.</p>
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>backup</h3>
			<p>journlr runs on a distributed, redundant architecture. This means that there are multiple copies of your journal in many places, and you will never lose your journal. We make it easy to email or print your journal, too.
		</div>
	</div>

	<div class="row">
		<div class="span16">
			<h3>not a blog</h3>
			<p>This is not a blog. Journal content is not public. While blogs have their place, sometimes we want a private place to write.</p>
		</div>
	</div>
{% endblock %}
