{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>journalr <small>modern journaling</small></h1>
	</div>

	<div class="row">
		<div class="span12 alert alert-block">
			<h3 class="alert-heading">try us out!</h3>
			<p>Journalr is free to use. Sign up and start journaling with us.</p>
			<p><strong>Your journal content is always private to you and will never be publically shared.</strong></p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>what we do</h3>
			<p>Journal keeping is an important part of many people's lives. Some would like to journal, or journal more. In our lives, we found that the act of writing a journal on paper is hard or slow enough to deter our journaling. Not knowing how much others are journaling, it is difficult to know what we should expect of our own journaling practices. We created this site to solve these problems. journalr is built to:</p>
			<ul>
				<li>provide easy, modern journaling</li>
				<li>expose journal-writing practices to others</li>
				<li>backup everything in your journals</li>
				<li>not be a public blog</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>easy, modern journals</h3>
			<p>Pen and paper, though more personal, are often not practical today. With busy schedules and little free time, writing is difficult. The popularity of smart phones provides new opportunities. At journalr, we think journaling should fit into your life naturally, instead of having to force yourself to sit down and write. We provide easy-to-use journaling software available anywhere you have an internet connection.</p>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>social journaling</h3>
				<p>Knowing how often another person journals and how much they write can help us to set reasonable goals for our own journal keeping. journalr does this by publically displaying the frequency and size of your journaling. (The content of your journals will never be shown.) We believe that when you can see how often your friends are journaling, you will have more self-accountability and increase your own journaling frequency. In journalr you can follow others and subscribe to a personalized RSS feed.</p>
				<p>You can also allow journalr to post updates to your <a href="http://facebook.com/">Facebook</a> wall and <a href="http://twitter.com/">Twitter</a> feed.
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>backup</h3>
			<p>journlr has many features to guarantee that you never lose your journals:</p>
			<ul>
				<li>journalr runs on a distributed, redundant architecture: this means that there are multiple copies of your journal in many places, and you will never lose your journal</li>
				<li>conversion of journals and entries to PDF</li>
				<li>automatic backups to <a href="https://www.dropbox.com/"><img src="/static/images/dropbox.png" alt="Dropbox"></a></li>
				<li>automatic backups to <a href="http://docs.google.com/"><img src="/static/images/googledocs.png" alt="Google Docs"></a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>not a blog</h3>
			<p>This is not a blog. Journal content is never public. While blogs have their place, sometimes we want a private place to write. The only public information is your frequency of posting.</p>
		</div>
	</div>
{% endblock %}
