{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>my journals</h1>
	</div>

	<div class="row">
		<div class="span6">
			<h3>numbers</h3>
			<table>
				<tr><td>journals</td><td>{{ user.journal_count }}</td></tr>
				<tr><td>entries</td><td>{{ user.entry_count }}</td></tr>
			</table>
		</div>
	</div>

	<hr/>

	{% for j in journals %}
	<div class="row">
		<div class="span6 columns">
			<h3><a href="{{ "view-journal"|url:j.key.id }}">{{ j }}</a></h3>
		</div>
		<div class="span10 columns">
			<table>
				<tr><td>entries</td><td>{{ j.entry_count }}</td></tr>
				<tr><td>created on</td><td>{{ j.created_date|date }}</td></tr>
				<tr><td>characters</td><td>{{ j.chars }}</td></tr>
				<tr><td>words</td><td>{{ j.words }}</td></tr>
				<tr><td>sentences</td><td>{{ j.sentences }}</td></tr>
				<tr><td>entries per week</td><td>{{ j.freq_entries|floatformat }}</td></tr>
				<tr><td>characters per week</td><td>{{ j.freq_chars|floatformat }}</td></tr>
				<tr><td>words per week</td><td>{{ j.freq_words|floatformat }}</td></tr>
				<tr><td>sentences per week</td><td>{{ j.freq_sentences|floatformat }}</td></tr>
				{% if j.last_entry %}<tr><td>last entry</td><td>{{ j.last_entry|jdate }}</td></tr>{% endif %}
				{% if j.first_entry %}<tr><td>first entry</td><td>{{ j.first_entry|jdate }}</td></tr>{% endif %}
				{% if j.entry_days %}<tr><td>entries spanning</td><td>{{ j.entry_days }} day{{ j.entry_days|pluralize }}</td></tr>{% endif %}
			</table>
		</div>
	</div>
	{% endfor %}

{% endblock %}
