<h2>{{ m }}</h2>

<p/>Área: {{ m.zone_name }} - {{ m.area_name }}
<p/>Chamado: {{ m.calling }}
<p/>Email: <a href="mailto:{{ m.email }}">{{ m.email }}</a>
<p/>Nome completo: {{ m.full_name }}
<p/>Release: {{ m.release }}
<p/>Start: {{ m.start }}
<p/>MTC: {{ m.mtc }}
<p/>Birthday: {{ m.birth }}
<p/>Mission ID: {{ m.mission_id }}
<p/>Mail box: {{ m.box }}
<p/>Parents' email: {{ m.email_parents }}
<p/>
	<a href="/_ah/missao-rio/pf/0/{{ m.key }}">pf-mudança</a>
	<a href="/_ah/missao-rio/pf/1/{{ m.key }}">pf-registro</a>
	<a href="/_ah/missao-rio/pf/2/{{ m.key }}">pf-visto</a>
