<html>
<head>
<title>Policia Federal - Carta da mudança endereço</title>
</head>
<style type="text/css">
@page
{
  size: a4;
  margin: 3cm;
} 
h2
{
  text-align: right;
  font-size: 17px;
}
p
{
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
}
div.right
{
  position: absolute;
  right: 0px;
  font-size: 16px;
  font-weight: bold;
}
.sig
{
  font-size: 14px;
  font-weight: bold;
}
</style>
</head>
<body>
<br />
<br />
<br />
<br />
<h2>ILMO SR. CHEFE DA DELEMAF DA SUPERINTENDÊNCIA<br>
DA POLÍCIA FEDERAL EM RIO DE JANEIRO</h2>
<br />
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ANTONIO KAULLE MACHADO BEZERRA, Presidente da Missão Brasil Rio de Janeiro d'A Igreja de Jesus Cristo dos Santos dos Ùltimos Dias, Brasileiro, IDENTIDADE: 92024006078  Casado, Residindo na Estrada da Gávea, 681 Bloco 1 Aptº 602 na cidade do Rio de Janeiro, RJ. Sendo eu presidente da missão, venho representar {{ amstr}}, {{ fullname }} protocolo nº {{ passport  }}, anteriormente conforme REGISTRO NA DELEMAF/SP residente na Rua PADRE ANTONIO D'ANGELO,nº 121 - CASA VERDE, na capital do estado de São Paulo, muito repeitosamente requer de Vossa Senhoria a mudança de seu endereço comercial para a Rua AV. DAS AMÉRICAS, 1155 SALAS 502/503 - BARRA DA TIJUCA, na cidade de RIO DE JANEIRO, RJ.
<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Outrossim, solicita que a sua CIE seja encaminhada para o seu endereço comercial acima.
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Em anexo fotocópia do seu registro na DELEMAF/SP.
</p>
<div class="right">
    <table><tr><td width="40%">&nbsp;</td><td>
    Nestes Termos, Pede e Espera<br/>
    Deferimento,<br/><br/>
    Rio de Janeiro, {{ data }},<br/><br/><br/><br/>
    _______________________________
    <br/>
<div class="sig">ANTONIO KAULLE MACHADO BEZERRA</div>
</td></tr></table>
</div>
</body>
</html>
