<form method="POST">
<table>
<tr><td>Zone:</td><td>{{ zs }}</td></tr>
<tr><td>Month:</td><td>

<select name="month">
<option value="1">Janeiro</option>
<option value="2">Fevereiro</option>
<option value="3">Março</option>
<option value="4">Abril</option>
<option value="5">Maio</option>
<option value="6">Junho</option>
<option value="7">Julho</option>
<option value="8">Agosto</option>
<option value="9">Setembro</option>
<option value="10" selected>Outubro</option>
<option value="11">Novembro</option>
<option value="12">Dezembro</option>
</select>

<select name="year">
<option>2011</option>
<option selected>2010</option>
<option>2009</option>
</select>

</td></tr>
</table>
<input type="submit"/>
</form>
