{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>register</h1>
	</div>

	<div class="row">
		<div class="span16">
			<p>Welcome. You aren't yet registered with us.</p>
			<form method="POST" action="{{ "register"|url }}">
				<fieldset>
					<div class="clearfix{% if errors.username %} error{% endif %}">
						<label for="username">username</label>
						<div class="input">
							<input class="{% if errors.username %}error{% endif %}" id="username" name="username" type="text" value="{{ username }}">
							{% if errors.username %}<span class="help-inline">{{ errors.username }}</span>{% endif %}
						</div>
					</div>
					<div class="clearfix">
						<label for="email">email address</label>
						<div class="input">
							<input id="email" name="email" type="text" value="{{ email }}">
						</div>
					</div>
					<div class="actions">
						<input type="submit" class="btn primary" name="submit" value="Register">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
