{% extends "index.html" %}

{% block head %}

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js-static/jquery.js"></script>

{% endblock %}

{% block content %}

<form id="relatorioForm" onsubmit="return false;">
<input type="hidden" name="week" value="{{ week.key }}" />

<table>
	<tr><th>Semana</th><td colspan=2>{{ week.date|date:"d/m/Y" }}</td></tr>
	<tr><th>Nome do Sénior</th><td colspan=2><select name="senior" id="id_senior">
<option value="" selected="selected">---------</option>
{{ missionary }}
</select></td></tr>
	<tr><th>Nome do Júnior</th><td colspan=2><select name="junior" id="id_junior">
<option value="" selected="selected">---------</option>
{{ missionary }}
</select></td></tr>
	<tr><th>Área</th><td colspan=2><select name="area" id="id_area">
<option value="" selected="selected">---------</option>
{{ area }}
</select></td></tr>
	<tr><td></td><th>Meta</th><th>Realizada</th></tr>
	<tr><th>Batismos</th><td><input type="text" name="goal_baptisms" id="id_goal_baptisms" /></td><td><input type="text" name="realized_baptisms" id="id_realized_baptisms" /></td></tr>
	<tr><th>Confirmações</th><td><input type="text" name="goal_confirmations" id="id_goal_confirmations" /></td><td><input type="text" name="realized_confirmations" id="id_realized_confirmations" /></td></tr>
	<tr><th>Data Marcada</th><td><input type="text" name="goal_date_marked" id="id_goal_date_marked" /></td><td><input type="text" name="realized_date_marked" id="id_realized_date_marked" /></td></tr>
	<tr><th>Pesquisadores na Reunião Sacramental</th><td><input type="text" name="goal_sacrament" id="id_goal_sacrament" /></td><td><input type="text" name="realized_sacrament" id="id_realized_sacrament" /></td></tr>
	<tr><th>Lições com membro presente</th><td><input type="text" name="goal_with_member" id="id_goal_with_member" /></td><td><input type="text" name="realized_with_member" id="id_realized_with_member" /></td></tr>
	<tr><th>Outras Lições</th><td><input type="text" name="goal_others" id="id_goal_others" /></td><td><input type="text" name="realized_others" id="id_realized_others" /></td></tr>
	<tr><th>Pesquisadores que estão progredindo</th><td><input type="text" name="goal_progressing" id="id_goal_progressing" /></td><td><input type="text" name="realized_progressing" id="id_realized_progressing" /></td></tr>
	<tr><th>Referências Recebidas</th><td><input type="text" name="goal_received" id="id_goal_received" /></td><td><input type="text" name="realized_received" id="id_realized_received" /></td></tr>
	<tr><th>Referências Contatadas</th><td><input type="text" name="goal_contacted" id="id_goal_contacted" /></td><td><input type="text" name="realized_contacted" id="id_realized_contacted" /></td></tr>
	<tr><th>Novos Pesquidaroes</th><td><input type="text" name="goal_new" id="id_goal_new" /></td><td><input type="text" name="realized_new" id="id_realized_new" /></td></tr>
	<tr><th>Lições com Recém-Conversos ou Menos Ativos</th><td><input type="text" name="goal_recent_menos" id="id_goal_recent_menos" /></td><td><input type="text" name="realized_recent_menos" id="id_realized_recent_menos" /></td></tr>
	<tr><th>Número de Noite Familiares</th><td><input type="text" name="goal_nfm" id="id_goal_nfm" /></td><td><input type="text" name="realized_nfm" id="id_realized_nfm" /></td></tr>
	<tr><th>Frequência Reunião Sacramental</th><td></td><td><input type="text" name="attendance" id="id_attendance" /></td></tr>
</table>
<p/>
<table>
	<tr><th colspan=7>Informações de cada pessoa batizada na semana deste relatório - (precisamos cada informação)</th></tr>
	<tr><th>Nome Completo</th><th>Fonte</th><th>Sexo</th><th>Idade</th><th>Data/Batismo</th><th>Endereço - Rua e<br />Número (seja exato)</th><th>CEP</th></tr>
	<tr><td><input id="id_baptism_1_name" type="text" name="baptism_1_name" maxlength="100" /></td><td><select name="baptism_1_source" id="id_baptism_1_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_1_sex" id="id_baptism_1_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_1_age" type="text" name="baptism_1_age" size="3" /></td><td><input id="id_baptism_1_date" type="text" name="baptism_1_date" size="15" /></td><td><input id="id_baptism_1_address" type="text" name="baptism_1_address" maxlength="100" /></td><td><input id="id_baptism_1_cep" type="text" name="baptism_1_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_2_name" type="text" name="baptism_2_name" maxlength="100" /></td><td><select name="baptism_2_source" id="id_baptism_2_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_2_sex" id="id_baptism_2_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_2_age" type="text" name="baptism_2_age" size="3" /></td><td><input id="id_baptism_2_date" type="text" name="baptism_2_date" size="15" /></td><td><input id="id_baptism_2_address" type="text" name="baptism_2_address" maxlength="100" /></td><td><input id="id_baptism_2_cep" type="text" name="baptism_2_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_3_name" type="text" name="baptism_3_name" maxlength="100" /></td><td><select name="baptism_3_source" id="id_baptism_3_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_3_sex" id="id_baptism_3_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_3_age" type="text" name="baptism_3_age" size="3" /></td><td><input id="id_baptism_3_date" type="text" name="baptism_3_date" size="15" /></td><td><input id="id_baptism_3_address" type="text" name="baptism_3_address" maxlength="100" /></td><td><input id="id_baptism_3_cep" type="text" name="baptism_3_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_4_name" type="text" name="baptism_4_name" maxlength="100" /></td><td><select name="baptism_4_source" id="id_baptism_4_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_4_sex" id="id_baptism_4_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_4_age" type="text" name="baptism_4_age" size="3" /></td><td><input id="id_baptism_4_date" type="text" name="baptism_4_date" size="15" /></td><td><input id="id_baptism_4_address" type="text" name="baptism_4_address" maxlength="100" /></td><td><input id="id_baptism_4_cep" type="text" name="baptism_4_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_5_name" type="text" name="baptism_5_name" maxlength="100" /></td><td><select name="baptism_5_source" id="id_baptism_5_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_5_sex" id="id_baptism_5_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_5_age" type="text" name="baptism_5_age" size="3" /></td><td><input id="id_baptism_5_date" type="text" name="baptism_5_date" size="15" /></td><td><input id="id_baptism_5_address" type="text" name="baptism_5_address" maxlength="100" /></td><td><input id="id_baptism_5_cep" type="text" name="baptism_5_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_6_name" type="text" name="baptism_6_name" maxlength="100" /></td><td><select name="baptism_6_source" id="id_baptism_6_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_6_sex" id="id_baptism_6_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_6_age" type="text" name="baptism_6_age" size="3" /></td><td><input id="id_baptism_6_date" type="text" name="baptism_6_date" size="15" /></td><td><input id="id_baptism_6_address" type="text" name="baptism_6_address" maxlength="100" /></td><td><input id="id_baptism_6_cep" type="text" name="baptism_6_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_7_name" type="text" name="baptism_7_name" maxlength="100" /></td><td><select name="baptism_7_source" id="id_baptism_7_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_7_sex" id="id_baptism_7_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_7_age" type="text" name="baptism_7_age" size="3" /></td><td><input id="id_baptism_7_date" type="text" name="baptism_7_date" size="15" /></td><td><input id="id_baptism_7_address" type="text" name="baptism_7_address" maxlength="100" /></td><td><input id="id_baptism_7_cep" type="text" name="baptism_7_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_8_name" type="text" name="baptism_8_name" maxlength="100" /></td><td><select name="baptism_8_source" id="id_baptism_8_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_8_sex" id="id_baptism_8_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_8_age" type="text" name="baptism_8_age" size="3" /></td><td><input id="id_baptism_8_date" type="text" name="baptism_8_date" size="15" /></td><td><input id="id_baptism_8_address" type="text" name="baptism_8_address" maxlength="100" /></td><td><input id="id_baptism_8_cep" type="text" name="baptism_8_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_9_name" type="text" name="baptism_9_name" maxlength="100" /></td><td><select name="baptism_9_source" id="id_baptism_9_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_9_sex" id="id_baptism_9_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_9_age" type="text" name="baptism_9_age" size="3" /></td><td><input id="id_baptism_9_date" type="text" name="baptism_9_date" size="15" /></td><td><input id="id_baptism_9_address" type="text" name="baptism_9_address" maxlength="100" /></td><td><input id="id_baptism_9_cep" type="text" name="baptism_9_cep" size="10" /></td></tr>
	<tr><td><input id="id_baptism_10_name" type="text" name="baptism_10_name" maxlength="100" /></td><td><select name="baptism_10_source" id="id_baptism_10_source">
<option value="" selected="selected">---------</option>
<option value="RM">RM</option>
<option value="MR">MR</option>
<option value="NF">NF</option>
<option value="TM">TM</option>
</select></td><td><select name="baptism_10_sex" id="id_baptism_10_sex">
<option value="" selected="selected">---------</option>
<option value="M">M</option>
<option value="F">F</option>
</select></td><td><input id="id_baptism_10_age" type="text" name="baptism_10_age" size="3" /></td><td><input id="id_baptism_10_date" type="text" name="baptism_10_date" size="15" /></td><td><input id="id_baptism_10_address" type="text" name="baptism_10_address" maxlength="100" /></td><td><input id="id_baptism_10_cep" type="text" name="baptism_10_cep" size="10" /></td></tr>
</table>
<p/>Fontes: RM - membro; MR - mídia; NF - noite familiar; TM - trabalho do missionário
<p/>
<table>
	<tr><th colspan=2>Nomes das pessoas confirmadas</th></tr>
	<tr><th>Nomes dos Confirmados</th><th>Data</th></tr>
	<tr><td><input id="id_confirmation_1_name" type="text" name="confirmation_1_name" maxlength="100" /></td><td><input id="id_confirmation_1_date" type="text" name="confirmation_1_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_2_name" type="text" name="confirmation_2_name" maxlength="100" /></td><td><input id="id_confirmation_2_date" type="text" name="confirmation_2_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_3_name" type="text" name="confirmation_3_name" maxlength="100" /></td><td><input id="id_confirmation_3_date" type="text" name="confirmation_3_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_4_name" type="text" name="confirmation_4_name" maxlength="100" /></td><td><input id="id_confirmation_4_date" type="text" name="confirmation_4_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_5_name" type="text" name="confirmation_5_name" maxlength="100" /></td><td><input id="id_confirmation_5_date" type="text" name="confirmation_5_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_6_name" type="text" name="confirmation_6_name" maxlength="100" /></td><td><input id="id_confirmation_6_date" type="text" name="confirmation_6_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_7_name" type="text" name="confirmation_7_name" maxlength="100" /></td><td><input id="id_confirmation_7_date" type="text" name="confirmation_7_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_8_name" type="text" name="confirmation_8_name" maxlength="100" /></td><td><input id="id_confirmation_8_date" type="text" name="confirmation_8_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_9_name" type="text" name="confirmation_9_name" maxlength="100" /></td><td><input id="id_confirmation_9_date" type="text" name="confirmation_9_date" maxlength="100" /></td></tr>
	<tr><td><input id="id_confirmation_10_name" type="text" name="confirmation_10_name" maxlength="100" /></td><td><input id="id_confirmation_10_date" type="text" name="confirmation_10_date" maxlength="100" /></td></tr>
</table>
<table>
	<tr><td></td><th>Sénior</th><th>Júnior</th></tr>
	<tr>
	{% if week.question %}
		<th>Pergunta</th><td colspan="2">{{ week.question }}</td></tr><tr><th>Resposta</th><td><input id="id_question_sen" type="text" name="question_sen" maxlength="100" /></td><td>
		{% if week.question_for_both %}
			<input id="id_question_jun" type="text" name="question_jun" maxlength="100" />
		{% endif %}
		</td>
	{% else %}
		<th></th>
	{% endif %}
	</tr>
	<tr><th>06h30: Preparar para o dia</th><td><select name="routine_sen_wakeup" id="id_routine_sen_wakeup">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_wakeup" id="id_routine_jun_wakeup">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>07h30: Desjejum</th><td><select name="routine_sen_breakfast" id="id_routine_sen_breakfast">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_breakfast" id="id_routine_jun_breakfast">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>08h00: Estudo Pessoal</th><td><select name="routine_sen_study_pers" id="id_routine_sen_study_pers">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_study_pers" id="id_routine_jun_study_pers">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>09h00: Estudo com Companheiro</th><td><select name="routine_sen_study_comp" id="id_routine_sen_study_comp">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_study_comp" id="id_routine_jun_study_comp">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>10h00: Proselitismo</th><td><select name="routine_sen_proselyte" id="id_routine_sen_proselyte">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_proselyte" id="id_routine_jun_proselyte">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>21h00: Voltar, 21h30 se estiver ensinando</th><td><select name="routine_sen_return" id="id_routine_sen_return">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_return" id="id_routine_jun_return">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>22h30: Deitar-se</th><td><select name="routine_sen_sleep" id="id_routine_sen_sleep">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td><td><select name="routine_jun_sleep" id="id_routine_jun_sleep">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select></td></tr>
	<tr><th>Número de Contatos essa Semana</th>
		<td><select name="routine_sen_contacts" id="id_routine_sen_contacts">{{ contatos }}</select></td>
		<td><select name="routine_jun_contacts" id="id_routine_jun_contacts">{{ contatos }}</select></td>
	</tr>
	<tr><th>Planejamento Semanal</th><td><input type="checkbox" name="weekly_planning" id="id_weekly_planning" /></td></tr>
</table>
<p/>
<table>
	<tr><th colspan="6">Batizar: escreve os nomes que vai batizar</th></tr>
	<tr><th>Essa Semana</th><th>Idade</th><th>Próxima Semana</th><th>Idade</th><th>Terceira Semana</th><th>Idade</th></tr>
	<tr><td><input id="id_baptism_w1_1" type="text" name="baptism_w1_1" maxlength="100" /></td><td><input id=id_baptism_w1_1i" name="baptism_w1_1i" size="2" /></td><td><input id="id_baptism_w2_1" type="text" name="baptism_w2_1" maxlength="100" /></td><td><input id=id_baptism_w2_1i" name="baptism_w2_1i" size="2" /></td><td><input id="id_baptism_w3_1" type="text" name="baptism_w3_1" maxlength="100" /></td><td><input id=id_baptism_w3_1i" name="baptism_w3_1i" size="2" /></td></tr>
	<tr><td><input id="id_baptism_w1_2" type="text" name="baptism_w1_2" maxlength="100" /></td><td><input id=id_baptism_w1_2i" name="baptism_w1_2i" size="2" /></td><td><input id="id_baptism_w2_2" type="text" name="baptism_w2_2" maxlength="100" /></td><td><input id=id_baptism_w2_2i" name="baptism_w2_2i" size="2" /></td><td><input id="id_baptism_w3_2" type="text" name="baptism_w3_2" maxlength="100" /></td><td><input id=id_baptism_w3_2i" name="baptism_w3_2i" size="2" /></td></tr>
	<tr><td><input id="id_baptism_w1_3" type="text" name="baptism_w1_3" maxlength="100" /></td><td><input id=id_baptism_w1_3i" name="baptism_w1_3i" size="2" /></td><td><input id="id_baptism_w2_3" type="text" name="baptism_w2_3" maxlength="100" /></td><td><input id=id_baptism_w2_3i" name="baptism_w2_3i" size="2" /></td><td><input id="id_baptism_w3_3" type="text" name="baptism_w3_3" maxlength="100" /></td><td><input id=id_baptism_w3_3i" name="baptism_w3_3i" size="2" /></td></tr>
	<tr><td><input id="id_baptism_w1_4" type="text" name="baptism_w1_4" maxlength="100" /></td><td><input id=id_baptism_w1_4i" name="baptism_w1_4i" size="2" /></td><td><input id="id_baptism_w2_4" type="text" name="baptism_w2_4" maxlength="100" /></td><td><input id=id_baptism_w2_4i" name="baptism_w2_4i" size="2" /></td><td><input id="id_baptism_w3_4" type="text" name="baptism_w3_4" maxlength="100" /></td><td><input id=id_baptism_w3_4i" name="baptism_w3_4i" size="2" /></td></tr>
	<tr><td><input id="id_baptism_w1_5" type="text" name="baptism_w1_5" maxlength="100" /></td><td><input id=id_baptism_w1_5i" name="baptism_w1_5i" size="2" /></td><td><input id="id_baptism_w2_5" type="text" name="baptism_w2_5" maxlength="100" /></td><td><input id=id_baptism_w2_5i" name="baptism_w2_5i" size="2" /></td><td><input id="id_baptism_w3_5" type="text" name="baptism_w3_5" maxlength="100" /></td><td><input id=id_baptism_w3_5i" name="baptism_w3_5i" size="2" /></td></tr>
</table>
<p/>
<table>
	<tr><th colspan=3>Reativar: escreve os nomes e as<br />atividades que fez a semana passada</th></tr>
	<tr><th>Nome</th><th colspan=2>Atividade</th></tr>
	<tr><td><input id="id_reactivate_1_name" type="text" name="reactivate_1_name" maxlength="100" /></td><td><input id="id_reactivate_1_activity_1" type="text" name="reactivate_1_activity_1" maxlength="100" /></td><td><input id="id_reactivate_1_activity_2" type="text" name="reactivate_1_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_reactivate_2_name" type="text" name="reactivate_2_name" maxlength="100" /></td><td><input id="id_reactivate_2_activity_1" type="text" name="reactivate_2_activity_1" maxlength="100" /></td><td><input id="id_reactivate_2_activity_2" type="text" name="reactivate_2_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_reactivate_3_name" type="text" name="reactivate_3_name" maxlength="100" /></td><td><input id="id_reactivate_3_activity_1" type="text" name="reactivate_3_activity_1" maxlength="100" /></td><td><input id="id_reactivate_3_activity_2" type="text" name="reactivate_3_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_reactivate_4_name" type="text" name="reactivate_4_name" maxlength="100" /></td><td><input id="id_reactivate_4_activity_1" type="text" name="reactivate_4_activity_1" maxlength="100" /></td><td><input id="id_reactivate_4_activity_2" type="text" name="reactivate_4_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_reactivate_5_name" type="text" name="reactivate_5_name" maxlength="100" /></td><td><input id="id_reactivate_5_activity_1" type="text" name="reactivate_5_activity_1" maxlength="100" /></td><td><input id="id_reactivate_5_activity_2" type="text" name="reactivate_5_activity_2" maxlength="100" /></td>
</table>
<p/>
<table>
	<tr><th colspan=3>Reter: escreve o nome e o que foi feito para ajuda-lo</th></tr>
	<tr><th>Nome</th><th colspan=2>Atividade</th></tr>
	<tr><td><input id="id_retain_1_name" type="text" name="retain_1_name" maxlength="100" /></td><td><input id="id_retain_1_activity_1" type="text" name="retain_1_activity_1" maxlength="100" /></td><td><input id="id_retain_1_activity_2" type="text" name="retain_1_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_retain_2_name" type="text" name="retain_2_name" maxlength="100" /></td><td><input id="id_retain_2_activity_1" type="text" name="retain_2_activity_1" maxlength="100" /></td><td><input id="id_retain_2_activity_2" type="text" name="retain_2_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_retain_3_name" type="text" name="retain_3_name" maxlength="100" /></td><td><input id="id_retain_3_activity_1" type="text" name="retain_3_activity_1" maxlength="100" /></td><td><input id="id_retain_3_activity_2" type="text" name="retain_3_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_retain_4_name" type="text" name="retain_4_name" maxlength="100" /></td><td><input id="id_retain_4_activity_1" type="text" name="retain_4_activity_1" maxlength="100" /></td><td><input id="id_retain_4_activity_2" type="text" name="retain_4_activity_2" maxlength="100" /></td>
	<tr><td><input id="id_retain_5_name" type="text" name="retain_5_name" maxlength="100" /></td><td><input id="id_retain_5_activity_1" type="text" name="retain_5_activity_1" maxlength="100" /></td><td><input id="id_retain_5_activity_2" type="text" name="retain_5_activity_2" maxlength="100" /></td>
</table>
<p/>
<table>
	<tr><th colspan=4>Estabelecer: escreva respostas em baixo de o que<br />foi feito para ajudar a ala na própria reunião</th></tr>
	<tr><th>Reunião</th><th colspan=2>Atividade</th></tr>
	<tr><td>Sacramental</td><td><input id="id_establish_sacrament_1" type="text" name="establish_sacrament_1" maxlength="100" /></td><td><input id="id_establish_sacrament_2" type="text" name="establish_sacrament_2" maxlength="100" /></td>
	<tr><td>Ala dos Princípios do Evangelho</td><td><input id="id_establish_principles_1" type="text" name="establish_principles_1" maxlength="100" /></td><td><input id="id_establish_principles_2" type="text" name="establish_principles_2" maxlength="100" /></td>
	<tr><td>Ala do Sacerdócio</td><td><input id="id_establish_priesthood_1" type="text" name="establish_priesthood_1" maxlength="100" /></td><td><input id="id_establish_priesthood_2" type="text" name="establish_priesthood_2" maxlength="100" /></td>
	<tr><td>Bispado</td><td><input id="id_establish_bishopric_1" type="text" name="establish_bishopric_1" maxlength="100" /></td><td><input id="id_establish_bishopric_2" type="text" name="establish_bishopric_2" maxlength="100" /></td>
	<tr><td>Comité Executivo</td><td><input id="id_establish_executive_1" type="text" name="establish_executive_1" maxlength="100" /></td><td><input id="id_establish_executive_2" type="text" name="establish_executive_2" maxlength="100" /></td>
	<tr><td>Conselho da Ala</td><td><input id="id_establish_counsel_1" type="text" name="establish_counsel_1" maxlength="100" /></td><td><input id="id_establish_counsel_2" type="text" name="establish_counsel_2" maxlength="100" /></td>
	<tr><td>Reunião de Integração</td><td><input id="id_establish_integration_1" type="text" name="establish_integration_1" maxlength="100" /></td><td><input id="id_establish_integration_2" type="text" name="establish_integration_2" maxlength="100" /></td>
	<tr><td>Correlação Missionária</td><td><input id="id_establish_correlation_1" type="text" name="establish_correlation_1" maxlength="100" /></td><td><input id="id_establish_correlation_2" type="text" name="establish_correlation_2" maxlength="100" /></td>
	<tr><td>Outras</td><td><input id="id_establish_other_1" type="text" name="establish_other_1" maxlength="100" /></td><td><input id="id_establish_other_2" type="text" name="establish_other_2" maxlength="100" /></td>
</table>
<p/>
<input id="relatorioSubmit" type="button" value="Mandar" onclick="if(checkRelatorio()){this.disabled=false; this.value='Mandando...'; postRelatorio();}" />
</form>

{% endblock %}
