<html>
<body>

<form action="" method="POST">

<h1>Semana: {{ week.date }}</h1>

<table>
	<tr><th>Zona</th><th>Bap</th><th>Conf</th><th>H Bap</th><th>H Conf</th></tr>
{% for z in zones %}
	<tr>
		<th align=left><b>{{ z.0.5 }}</b></th>
	</tr>
	{% for a in z %}
		<tr><td>&nbsp;&nbsp;<b>{{ a.6.area.name }}</b>:
		{% for m in a.0 %}
			{{ m.missionary }}{% if not forloop.last %},{% endif %}
		{% endfor %}
		</td>
		<td><input type="text" size="5" name="b_{{ a.6.key }}" value="{{ a.1|default:"" }}" /></td>
		<td><input type="text" size="5" name="c_{{ a.6.key }}" value="{{ a.2|default:"" }}" /></td>
		<td><input type="text" size="5" name="m_{{ a.6.key }}" value="{{ a.3|default:"" }}" /></td>
		<td><input type="text" size="5" name="h_{{ a.6.key }}" value="{{ a.4|default:"" }}" /></td>
	</tr>
	{% endfor %}
{% endfor %}
</table>

<input type="hidden" name="week" value="{{ week.key }}" />
<input type="submit" value="Submit" />
</form>

</body>
</html>
