{% extends "index.html" %}

{% block content %}

<table><tr><td align="center">
<img src="/imgs/superacao.gif"/>
<br/><span style="color: black">Missão Brasil Rio de Janeiro está pegando fogo!</span>
</td></tr></table>
<br/>

<img src="/imgs/record_zona.gif"/>
<table>
<tr><td>28/11/2010</td><td>Jacarepaguá</td><td>23 Confirmações</td></tr>
<tr><td>28/11/2010</td><td>Petrópolis</td><td>11 Batismos</td></tr>
<tr><td>21/11/2010</td><td>Camorim</td><td>13 Batismos</td></tr>
</table>

<img src="/imgs/record_area.gif"/>
<table>
<tr><td>28/11/2010</td><td>Corrêas</td><td>10 Batismos</td></tr>
<tr><td>21/11/2010</td><td>Curicica</td><td>8 Batismos</td></tr>
</table>

{% endblock %}
