{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>{{ u }}</h1>
	</div>

	<div class="row">
		<div class="span6 columns">
			<table>
				<tr><td>member since</td><td>{{ u.register_date|sdate }}</td></tr>
				<tr><td>journals</td><td>{{ u.journal_count }}</td></tr>
				<tr><td>entries</td><td>{{ u.entry_count }}</td></tr>
			</table>
		</div>

		<div class="span2 columns">
			<img src="{{ u.gravatar }}&amp;s=50" alt="{{ u }}">
		</div>

		{% if not thisuser %}
		<div class="span4 columns offset4">
			{% if not following %}
				<a href="{{ "follow"|url:u.name }}" class="btn">follow</a>
			{% else %}
				<a href="{{ "follow"|url:u.name }}?unfollow" class="btn">unfollow</a>
			{% endif %}
		</div>
		{% endif %}
	</div>

	<hr>

	<div class="row">
		<div class="span8 columns">
			<h2>{{ u }}'s journals</h2>

			{% include "journals.html" %}
		</div>

		<div class="span8 columns">
			<h2>activity <small><a href="{{ "user-feeds"|url:u.name }}"><img src="/static/images/feed.png" class="feed-img" alt="feed">rss feed</a></small></h2>
			{% for a in activities %}
				<p>{% if a.img %}<img src="{{ a.img }}" alt="{{ a.user }}"> {% endif %}<a href="{{ "user"|url:a.user }}">{{ a.user }}</a> {{ a.get_action|safe }} {{ a.date|timesince }} ago</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
