{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1><a href="{{ journal|journal_url }}">{{ journal }}</a>{% if journal.entry_count %} <small>{{ journal.entry_count }} entr{{ journal.entry_count|pluralize:"y,ies" }}</small>{% endif %}</h1>
	</div>

	<div class="row">
		<div class="span16">
			<a href="{{ "new-entry"|url:journal }}" class="btn primary">new entry</a>
		</div>
	</div>

	{% if entries %}

	<div class="pagination">
		<ul>
			<li class="prev"><a href="{{ journal|journal_url }}">first</a></li>
			{% if page == 1 %}
				<li class="disabled"><a href="#">&larr; previous</a></li>
			{% else %}
				<li><a href="{{ journal|journal_prev:page }}">&larr; previous</a></li>
			{% endif %}

			{% for p in pagelist %}
				<li{% ifequal p page %} class="active"{% endifequal %}><a href="{{ journal|journal_url:p }}">{{ p }}</a></li>
			{% endfor %}

			{% if page == journal.pages %}
				<li class="disabled"><a href="#">next &rarr;</a></li>
			{% else %}
				<li><a href="{{ journal|journal_next:page }}">next &rarr;</a></li>
			{% endif %}

			<li class="next"><a href="{{ journal|journal_url:journal.pages }}">last</a></li>
		</ul>
	</div>

	{% for e in entries %}
	 {{ e|safe }}
	{% endfor %}

	{% else %}

	<div class="row">
		<div class="span16">
			<p>No entries in this journal.</p>
		</div>
	</div>

	{% endif %}
{% endblock %}
