{% extends "base.html" %}

{% block content %}
	<div class="page-header">
		<h1>register</h1>
	</div>

	<div class="row">
		<div class="span12">
			<p>Welcome. You aren't yet registered with us.</p>
			<form class="form-horizontal" method="POST" action="{{ "register"|url }}">
				<fieldset>
					<div class="control-group{% if errors.username %} error{% endif %}">
						<label class="control-label" for="username">username</label>
						<div class="controls">
							<input class="input-large" id="username" name="username" type="text" value="{{ username }}">
							{% if errors.username %}<span class="help-inline">{{ errors.username }}</span>{% endif %}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">email address</label>
						<div class="controls">
							<input id="email" name="email" type="text" value="{{ email }}">
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" class="btn btn-primary" name="submit" value="Register">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
