<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
    <meta name="Robots" content="index,follow" />
		<meta name="author" content="Aaron Ganschow, aaron@ganschow.us" />
    <title>
      Less Antique
    </title>
    <link rel="stylesheet" type="text/css" href=
    "css/style.css" />
  </head>
  <body>
    <div id="head">
		  <div id="title">
					 Less Antique
			</div>
      <div id="menu">
        <ul>
          <li>
            <a href="index.html" title="Resume">Index</a>
          </li>
          <li>
            <a href="1col.html" title="One Column">1 Column</a>
          </li>
          <li class="active">
            <a href="#" title="Tags">Tags</a>
          </li>
          <li>
            <a href="http://aaron.ganschow.us/" title="Blank">Author</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="body_wrapper">
      <div id="body">
					 <div id="all">
					 			<div class="top"></div>
								<div class="content">
								<p>
									 All tags listed in this page are ones that have had altered
									 styling.  All others have the same basic styling without CSS
									 alterations.  If there are any tags you would like to see
									 styled in addition to these, please let me know.
								</p>
								<h1> Heading 1 </h1>
								<hr />
								<h2> Heading 2 </h2>
								<hr />
								<h3> Heading 3 </h3>
								<hr />
								<h4> Heading 4 </h4>
								<hr />
								<h5> Heading 5 </h5>
								<hr />
								<h6> Heading 6 </h6>
								<hr />
								<a href="#">This is a link</a><br />
								<a href="#" target="_blank">This is an exterior link.</a>
								<hr />
								<code>
								  /* This is a code block */<br />
									&lt;?php<br />
									&nbsp; &nbsp;print ("Hello World");<br />
									?&gt;<br />
								</code>
								<hr />
								<blockquote cite="http://www.w3.org/2001/sw/">
								The Semantic Web is about two things. It is about common formats for interchange of data, where on the original Web we only had interchange of documents. Also it is about language for recording how the data relates to real world objects. That allows a person, or a machine, to start off in one database, and then move through an unending set of databases which are connected not by wires but by being about the same thing.
								</blockquote>
								<hr />
								The following is <del>deleted text</del> from the document.
								<hr />
								This is a modified definition list (able to be used with FAQ systems and the like)
								<dl>
								<dt>schmendrik</dt>
								  <dd>A foolish, clueless, and naive person.</dd>
								<dt>sipid</dt>
								  <dd>Having a pleasing taste or flavor.</dd>
								</dl>
								<hr />
								<h2> Form </h2>
<form action="">
<div class="item"><span class="label">Input type = &quot;text&quot;</span><span class="input"><input type="text" /></span></div>
<div class="item"><span class="label">Checkbox (Only styles in IE):</span><span class="input"><input type="checkbox" /></span></div>
<div class="item"><span class="label">Textarea: </span><span class="input"><textarea name="textarea" rows="5" cols="25"></textarea></span></div>
<div class="item"><span class="label">Select: </span><span class="input"><select name="select">
  <option value="1"> option 1 </option>
  <option value="2"> option 2 </option>
  <option value="3"> option 3 </option>
</select></span></div>
<input type="submit" value="Submit" disabled="disabled" />
</form>
								</div>
								<div class="bottom"></div>
						</div>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
    <div id="end_body"></div>

		<div id="footer">
				 &copy; Copyright <a href="mailto:youremail@server.com">Your Name</a> 2006
		</div>
  </body>
</html>
