{% extends "base.html" %}

{% block content %}

{% if errors %}
	{% for k, v in errors.items %}
	<br>Error in {{ k }}: {{ v }}
	{% endfor %}
{% endif %}

<div class="payment-errors"></div>

<form action="" method="POST" id="payment-form">
	<p><input type="text" size="20" autocomplete="off" class="card-number"/>
	<p><input type="text" size="4" autocomplete="off" class="card-cvc"/>
	<p><label>Expiration</label>
	<p><input type="text" size="2" class="card-expiry-month"/>
	<span> / </span>
	<input type="text" size="4" class="card-expiry-year"/>
	<p>Plan: <select name="plan" class="plan">
		{{ plans[1:]|join('') }}
	</select>
	<p><button type="submit" class="submit-button">Submit Payment</button>
</form>

{% if u.stripe_id %}
<hr>
<p>Using card ending in {{ u.stripe_last4 }}
<form action="" method="POST">
	<p>Plan: <select name="plan" class="plan">
		{{ plans|join('') }}
	</select>
	<p><button type="submit" class="submit-button">Change Plan</button>
</form>
{% endif %}

<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

<script type="text/javascript">
Stripe.setPublishableKey('{{ stripe_key }}');

$("#payment-form").submit(function(event) {
	// disable the submit button to prevent repeated clicks
	$('.submit-button').attr("disabled", "disabled");

	Stripe.createToken({
		number: $('.card-number').val(),
		cvc: $('.card-cvc').val(),
		exp_month: $('.card-expiry-month').val(),
		exp_year: $('.card-expiry-year').val()
	}, stripeResponseHandler);

	// prevent the form from submitting with the default action
	return false;
});

function stripeResponseHandler(status, response) {
	if (response.error) {
		//show the errors on the form
		$('.submit-button').removeAttr("disabled");
		$(".payment-errors").html(response.error.message);
	} else {
		var form$ = $("#payment-form");
		// token contains id, last4, and card type
		var token = response['id'];
		// insert the token into the form so it gets submitted to the server
		form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
		// and submit
		form$.get(0).submit();
	}
}

</script>

<script src="/static/js/jquery.watermark.min.js"></script>

<script type="text/javascript">
$(function() {
	$(".card-number").watermark("Credit Card Number");
	$(".card-cvc").watermark("CVC");
	$(".card-expiry-month").watermark("MM");
	$(".card-expiry-year").watermark("YYYY");
});
</script>

{% endblock %}
