<html>
<body>

{% if done %}
Good: {{ done }}
<br/><br/>
{% endif %}

<table>

{% if week %}
<form method="POST">
{{ week.as_table }}
<tr><td><input type="submit" name="submit" value="week"/></td></tr>
</form>
{% endif %}

{% if area %}
<form method="POST">
{{ area.as_table }}
<tr><td><input type="submit" name="submit" value="area"/></td></tr>
</form>
{% endif %}

{% if ward %}
<form method="POST">
{{ ward.as_table }}
<tr><td><input type="submit" name="submit" value="ward"/></td></tr>
</form>
{% endif %}

</table>

</body>
</html>
